<div>
  <span class="primary-text">Made from scratch, with love
  {{icon-badge iconSet='op' iconClass='op-heart' url='https://github.com/ch0sen1/oscarparamo'}}
  </span>
</div>
<div>
  <ul>
    <li class="primary-text">Pages</li>
    <li>{{#link-to 'index' class='secondary-text'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about' class='secondary-text'}}About Me{{/link-to}}</li>
  </ul>
</div>
<div class="copy">
  <span class="primary-text">&copy;2015 Oscar Páramo</span>
</div>
