<div>
  <span class="primary-text">Made from scratch, with love
  {{icon-badge iconSet='op' iconClass='op-heart' url='https://github.com/oparamo/oscarparamo'}}
  </span>
  <span class="copy">&copy;2017 Oscar Páramo</span>
</div>
