<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About Me{{/link-to}}
</nav>
<div class="triangilify">
  <!-- look in public dir for triangilify background generating script -->
  <div class="profile">
    <div class="oscar"></div>
    <div>
      <h1>Oscar Páramo<br>Computer Scientist</h1>
    </div>
  </div>
</div>
