<div class="triangilify">
  <div>
    <div class="oscar"></div>
  </div>
  <div>
    <div>
      <h1>Oscar Páramo</h1><br>
      <h2>Computer Scientist</h2><br>
      <h3>Dallas, Texas</h3>
    </div>
  </div>
</div>
<nav>
  {{#link-to 'index'}}Home<span></span>{{/link-to}}
  {{#link-to 'about'}}About Me<span></span>{{/link-to}}
</nav>
