<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About Me{{/link-to}}
</nav>
<div class="triangilify">
  <!-- look in public dir for triangilify background generating script -->
  <div class="oscar">
    <img>
    <div></div>
  </div>
</div>
