<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About Me{{/link-to}}
</nav>
<div class="triangilify">
  <!-- Look in public dir for triangilify background generator. -->
  <svg>
    <path d="M325,443L1,429L412,449Z" fill="#91407a" stroke="#91407a" stroke-width="1.51"></path>
    <path d="M315,-93L440,-95L491,-97Z" fill="#ce7170" stroke="#ce7170" stroke-width="1.51"></path>
    <path d="M60,-94L315,-93L491,-97Z" fill="#d37874" stroke="#d37874" stroke-width="1.51"></path>
    <path d="M-79,-95L60,-94L491,-97Z" fill="#d88476" stroke="#d88476" stroke-width="1.51"></path>
    <path d="M491,-97L787,-91L1042,-89Z" fill="#bd6264" stroke="#bd6264" stroke-width="1.51"></path>
    <path d="M1297,433L1111,435L1398,448Z" fill="#5e2a7b" stroke="#5e2a7b" stroke-width="1.51"></path>
    <path d="M1111,435L1012,444L1398,448Z" fill="#602677" stroke="#602677" stroke-width="1.51"></path>
    <path d="M491,-97L1042,-89L1532,-92Z" fill="#b05f6e" stroke="#b05f6e" stroke-width="1.51"></path>
    <path d="M1042,-89L1196,-84L1532,-92Z" fill="#a55f76" stroke="#a55f76" stroke-width="1.51"></path>
    <path d="M1196,-84L1387,-76L1532,-92Z" fill="#a3617b" stroke="#a3617b" stroke-width="1.51"></path>
    <path d="M1532,-92L1601,-77L1718,-82Z" fill="#a06783" stroke="#a06783" stroke-width="1.51"></path>
    <path d="M1718,-82L1769,-77L1812,-76Z" fill="#9d5f81" stroke="#9d5f81" stroke-width="1.51"></path>
    <path d="M1744,427L1565,446L1850,444Z" fill="#533186" stroke="#533186" stroke-width="1.51"></path>
    <path d="M1532,-92L1718,-82L1928,-76Z" fill="#9e6282" stroke="#9e6282" stroke-width="1.51"></path>
    <path d="M1812,-76L1886,-72L1928,-76Z" fill="#9a5a81" stroke="#9a5a81" stroke-width="1.51"></path>
    <path d="M1718,-82L1812,-76L1928,-76Z" fill="#9c5d81" stroke="#9c5d81" stroke-width="1.51"></path>
    <path d="M1957,197L1971,248L1971,121Z" fill="#6b2671" stroke="#6b2671" stroke-width="1.51"></path>
    <path d="M1976,297L1926,350L1983,368Z" fill="#563687" stroke="#563687" stroke-width="1.51"></path>
    <path d="M1968,-46L1952,-34L1988,54Z" fill="#903f7a" stroke="#903f7a" stroke-width="1.51"></path>
    <path d="M1952,-34L1939,48L1988,54Z" fill="#8c3777" stroke="#8c3777" stroke-width="1.51"></path>
    <path d="M1971,248L1976,297L2000,77Z" fill="#662574" stroke="#662574" stroke-width="1.51"></path>
    <path d="M1988,54L1971,121L2000,77Z" fill="#812b6e" stroke="#812b6e" stroke-width="1.51"></path>
    <path d="M1971,121L1971,248L2000,77Z" fill="#75256c" stroke="#75256c" stroke-width="1.51"></path>
    <path d="M1976,297L1983,368L2000,77Z" fill="#5e2879" stroke="#5e2879" stroke-width="1.51"></path>
    <path d="M1968,-46L1988,54L2000,77Z" fill="#8a3576" stroke="#8a3576" stroke-width="1.51"></path>
    <path d="M1949,403L1850,444L1968,415Z" fill="#502b85" stroke="#502b85" stroke-width="1.51"></path>
    <path d="M1957,197L1944,221L1971,248Z" fill="#632676" stroke="#632676" stroke-width="1.51"></path>
    <path d="M1949,403L1968,415L1983,368Z" fill="#512d86" stroke="#512d86" stroke-width="1.51"></path>
    <path d="M1939,48L1971,121L1988,54Z" fill="#832e6f" stroke="#832e6f" stroke-width="1.51"></path>
    <path d="M1909,-11L1939,48L1952,-34Z" fill="#903d79" stroke="#903d79" stroke-width="1.51"></path>
    <path d="M1939,48L1898,90L1971,121Z" fill="#822d6e" stroke="#822d6e" stroke-width="1.51"></path>
    <path d="M1912,123L1957,197L1971,121Z" fill="#76276c" stroke="#76276c" stroke-width="1.51"></path>
    <path d="M1971,248L1928,254L1976,297Z" fill="#5d2c7d" stroke="#5d2c7d" stroke-width="1.51"></path>
    <path d="M1926,350L1949,403L1983,368Z" fill="#543187" stroke="#543187" stroke-width="1.51"></path>
    <path d="M1912,123L1891,150L1957,197Z" fill="#74286e" stroke="#74286e" stroke-width="1.51"></path>
    <path d="M1898,90L1912,123L1971,121Z" fill="#7e2a6a" stroke="#7e2a6a" stroke-width="1.51"></path>
    <path d="M1928,254L1906,308L1976,297Z" fill="#5c3080" stroke="#5c3080" stroke-width="1.51"></path>
    <path d="M1906,308L1926,350L1976,297Z" fill="#583484" stroke="#583484" stroke-width="1.51"></path>
    <path d="M1640,424L1565,446L1744,427Z" fill="#553487" stroke="#553487" stroke-width="1.51"></path>
    <path d="M1928,-76L1952,-34L1968,-46Z" fill="#964f7e" stroke="#964f7e" stroke-width="1.51"></path>
    <path d="M1944,221L1928,254L1971,248Z" fill="#602979" stroke="#602979" stroke-width="1.51"></path>
    <path d="M1891,150L1944,221L1957,197Z" fill="#6c2872" stroke="#6c2872" stroke-width="1.51"></path>
    <path d="M1891,150L1872,216L1944,221Z" fill="#6b2973" stroke="#6b2973" stroke-width="1.51"></path>
    <path d="M1928,-76L1909,-11L1952,-34Z" fill="#954c7e" stroke="#954c7e" stroke-width="1.51"></path>
    <path d="M1926,350L1850,444L1949,403Z" fill="#522f86" stroke="#522f86" stroke-width="1.51"></path>
    <path d="M1858,345L1850,444L1926,350Z" fill="#553487" stroke="#553487" stroke-width="1.51"></path>
    <path d="M1886,-72L1909,-11L1928,-76Z" fill="#97517e" stroke="#97517e" stroke-width="1.51"></path>
    <path d="M1872,216L1928,254L1944,221Z" fill="#612877" stroke="#612877" stroke-width="1.51"></path>
    <path d="M1909,-11L1873,67L1939,48Z" fill="#8b3775" stroke="#8b3775" stroke-width="1.51"></path>
    <path d="M1873,67L1898,90L1939,48Z" fill="#853270" stroke="#853270" stroke-width="1.51"></path>
    <path d="M1874,281L1906,308L1928,254Z" fill="#5d307f" stroke="#5d307f" stroke-width="1.51"></path>
    <path d="M1872,216L1874,281L1928,254Z" fill="#602c7a" stroke="#602c7a" stroke-width="1.51"></path>
    <path d="M1874,281L1875,289L1906,308Z" fill="#5d3280" stroke="#5d3280" stroke-width="1.51"></path>
    <path d="M1906,308L1858,345L1926,350Z" fill="#583886" stroke="#583886" stroke-width="1.51"></path>
    <path d="M1841,44L1873,67L1909,-11Z" fill="#8c3976" stroke="#8c3976" stroke-width="1.51"></path>
    <path d="M1886,-72L1846,-41L1909,-11Z" fill="#964e7e" stroke="#964e7e" stroke-width="1.51"></path>
    <path d="M1898,90L1891,150L1912,123Z" fill="#7d2a69" stroke="#7d2a69" stroke-width="1.51"></path>
    <path d="M1813,408L1850,444L1858,345Z" fill="#543286" stroke="#543286" stroke-width="1.51"></path>
    <path d="M1846,-41L1841,44L1909,-11Z" fill="#92427a" stroke="#92427a" stroke-width="1.51"></path>
    <path d="M1875,289L1858,345L1906,308Z" fill="#5a3684" stroke="#5a3684" stroke-width="1.51"></path>
    <path d="M1818,26L1841,44L1846,-41Z" fill="#903e79" stroke="#903e79" stroke-width="1.51"></path>
    <path d="M1812,123L1891,150L1898,90Z" fill="#7e2b69" stroke="#7e2b69" stroke-width="1.51"></path>
    <path d="M1873,67L1812,123L1898,90Z" fill="#82306d" stroke="#82306d" stroke-width="1.51"></path>
    <path d="M1797,202L1872,216L1891,150Z" fill="#6d2c72" stroke="#6d2c72" stroke-width="1.51"></path>
    <path d="M1812,123L1797,202L1891,150Z" fill="#752c6e" stroke="#752c6e" stroke-width="1.51"></path>
    <path d="M1872,216L1798,255L1874,281Z" fill="#612e7b" stroke="#612e7b" stroke-width="1.51"></path>
    <path d="M1812,-76L1846,-41L1886,-72Z" fill="#995780" stroke="#995780" stroke-width="1.51"></path>
    <path d="M847,433L705,445L1012,444Z" fill="#75266c" stroke="#75266c" stroke-width="1.51"></path>
    <path d="M1809,71L1812,123L1873,67Z" fill="#84326e" stroke="#84326e" stroke-width="1.51"></path>
    <path d="M1831,338L1858,345L1875,289Z" fill="#5a3885" stroke="#5a3885" stroke-width="1.51"></path>
    <path d="M1874,281L1798,255L1875,289Z" fill="#5f317e" stroke="#5f317e" stroke-width="1.51"></path>
    <path d="M1798,255L1831,338L1875,289Z" fill="#5e3581" stroke="#5e3581" stroke-width="1.51"></path>
    <path d="M1831,338L1813,408L1858,345Z" fill="#573787" stroke="#573787" stroke-width="1.51"></path>
    <path d="M1841,44L1809,71L1873,67Z" fill="#883672" stroke="#883672" stroke-width="1.51"></path>
    <path d="M1797,202L1798,255L1872,216Z" fill="#652c77" stroke="#652c77" stroke-width="1.51"></path>
    <path d="M1601,-77L1648,-71L1718,-82Z" fill="#9f6382" stroke="#9f6382" stroke-width="1.51"></path>
    <path d="M1793,390L1813,408L1831,338Z" fill="#563687" stroke="#563687" stroke-width="1.51"></path>
    <path d="M1795,-34L1818,26L1846,-41Z" fill="#94487b" stroke="#94487b" stroke-width="1.51"></path>
    <path d="M1779,143L1797,202L1812,123Z" fill="#772e6f" stroke="#772e6f" stroke-width="1.51"></path>
    <path d="M1798,255L1773,276L1831,338Z" fill="#5f3581" stroke="#5f3581" stroke-width="1.51"></path>
    <path d="M1813,408L1744,427L1850,444Z" fill="#523086" stroke="#523086" stroke-width="1.51"></path>
    <path d="M1812,-76L1795,-34L1846,-41Z" fill="#98547f" stroke="#98547f" stroke-width="1.51"></path>
    <path d="M1773,276L1783,345L1831,338Z" fill="#5c3985" stroke="#5c3985" stroke-width="1.51"></path>
    <path d="M1783,345L1793,390L1831,338Z" fill="#583a87" stroke="#583a87" stroke-width="1.51"></path>
    <path d="M1818,26L1809,71L1841,44Z" fill="#8b3974" stroke="#8b3974" stroke-width="1.51"></path>
    <path d="M1809,71L1737,93L1812,123Z" fill="#83336d" stroke="#83336d" stroke-width="1.51"></path>
    <path d="M1760,18L1809,71L1818,26Z" fill="#8d3c75" stroke="#8d3c75" stroke-width="1.51"></path>
    <path d="M1795,-34L1760,18L1818,26Z" fill="#92427a" stroke="#92427a" stroke-width="1.51"></path>
    <path d="M1737,93L1779,143L1812,123Z" fill="#80306a" stroke="#80306a" stroke-width="1.51"></path>
    <path d="M1769,-77L1795,-34L1812,-76Z" fill="#9a5980" stroke="#9a5980" stroke-width="1.51"></path>
    <path d="M1793,390L1744,427L1813,408Z" fill="#553387" stroke="#553387" stroke-width="1.51"></path>
    <path d="M1752,-25L1760,18L1795,-34Z" fill="#944a7c" stroke="#944a7c" stroke-width="1.51"></path>
    <path d="M1779,143L1748,184L1797,202Z" fill="#722f71" stroke="#722f71" stroke-width="1.51"></path>
    <path d="M1760,18L1737,93L1809,71Z" fill="#893972" stroke="#893972" stroke-width="1.51"></path>
    <path d="M1773,276L1737,319L1783,345Z" fill="#5d3a84" stroke="#5d3a84" stroke-width="1.51"></path>
    <path d="M1769,-77L1752,-25L1795,-34Z" fill="#99547e" stroke="#99547e" stroke-width="1.51"></path>
    <path d="M1748,184L1720,252L1797,202Z" fill="#692f76" stroke="#692f76" stroke-width="1.51"></path>
    <path d="M1797,202L1720,252L1798,255Z" fill="#642f79" stroke="#642f79" stroke-width="1.51"></path>
    <path d="M1720,252L1773,276L1798,255Z" fill="#62347d" stroke="#62347d" stroke-width="1.51"></path>
    <path d="M1737,93L1729,116L1779,143Z" fill="#80326a" stroke="#80326a" stroke-width="1.51"></path>
    <path d="M1783,345L1723,351L1793,390Z" fill="#593a88" stroke="#593a88" stroke-width="1.51"></path>
    <path d="M1723,351L1744,427L1793,390Z" fill="#573787" stroke="#573787" stroke-width="1.51"></path>
    <path d="M1723,351L1706,396L1744,427Z" fill="#573887" stroke="#573887" stroke-width="1.51"></path>
    <path d="M1737,319L1723,351L1783,345Z" fill="#5b3e88" stroke="#5b3e88" stroke-width="1.51"></path>
    <path d="M1729,116L1748,184L1779,143Z" fill="#79306d" stroke="#79306d" stroke-width="1.51"></path>
    <path d="M1729,116L1707,154L1748,184Z" fill="#79316e" stroke="#79316e" stroke-width="1.51"></path>
    <path d="M1718,-82L1752,-25L1769,-77Z" fill="#9b5b80" stroke="#9b5b80" stroke-width="1.51"></path>
    <path d="M1720,252L1737,319L1773,276Z" fill="#603780" stroke="#603780" stroke-width="1.51"></path>
    <path d="M1680,43L1737,93L1760,18Z" fill="#8c3c74" stroke="#8c3c74" stroke-width="1.51"></path>
    <path d="M1712,3L1680,43L1760,18Z" fill="#914278" stroke="#914278" stroke-width="1.51"></path>
    <path d="M1689,197L1720,252L1748,184Z" fill="#6a3176" stroke="#6a3176" stroke-width="1.51"></path>
    <path d="M1752,-25L1712,3L1760,18Z" fill="#93477b" stroke="#93477b" stroke-width="1.51"></path>
    <path d="M1718,-82L1712,3L1752,-25Z" fill="#98527e" stroke="#98527e" stroke-width="1.51"></path>
    <path d="M1706,396L1640,424L1744,427Z" fill="#553587" stroke="#553587" stroke-width="1.51"></path>
    <path d="M1707,154L1689,197L1748,184Z" fill="#733272" stroke="#733272" stroke-width="1.51"></path>
    <path d="M1653,-34L1712,3L1718,-82Z" fill="#9a557e" stroke="#9a557e" stroke-width="1.51"></path>
    <path d="M1720,252L1693,336L1737,319Z" fill="#5f3a83" stroke="#5f3a83" stroke-width="1.51"></path>
    <path d="M1659,269L1693,336L1720,252Z" fill="#623980" stroke="#623980" stroke-width="1.51"></path>
    <path d="M1693,336L1723,351L1737,319Z" fill="#5c3f88" stroke="#5c3f88" stroke-width="1.51"></path>
    <path d="M1658,73L1729,116L1737,93Z" fill="#85376e" stroke="#85376e" stroke-width="1.51"></path>
    <path d="M1680,43L1658,73L1737,93Z" fill="#8a3b72" stroke="#8a3b72" stroke-width="1.51"></path>
    <path d="M1658,73L1707,154L1729,116Z" fill="#82346b" stroke="#82346b" stroke-width="1.51"></path>
    <path d="M1648,-71L1653,-34L1718,-82Z" fill="#9c5e80" stroke="#9c5e80" stroke-width="1.51"></path>
    <path d="M1689,197L1659,269L1720,252Z" fill="#65337a" stroke="#65337a" stroke-width="1.51"></path>
    <path d="M1667,373L1706,396L1723,351Z" fill="#593b88" stroke="#593b88" stroke-width="1.51"></path>
    <path d="M1693,336L1667,373L1723,351Z" fill="#5b3e88" stroke="#5b3e88" stroke-width="1.51"></path>
    <path d="M1658,73L1638,152L1707,154Z" fill="#81356b" stroke="#81356b" stroke-width="1.51"></path>
    <path d="M1653,-34L1680,43L1712,3Z" fill="#94487b" stroke="#94487b" stroke-width="1.51"></path>
    <path d="M1667,373L1640,424L1706,396Z" fill="#583987" stroke="#583987" stroke-width="1.51"></path>
    <path d="M1638,152L1689,197L1707,154Z" fill="#763371" stroke="#763371" stroke-width="1.51"></path>
    <path d="M1653,-34L1640,46L1680,43Z" fill="#924579" stroke="#924579" stroke-width="1.51"></path>
    <path d="M1624,187L1659,269L1689,197Z" fill="#6a3477" stroke="#6a3477" stroke-width="1.51"></path>
    <path d="M1638,152L1624,187L1689,197Z" fill="#743472" stroke="#743472" stroke-width="1.51"></path>
    <path d="M1637,336L1667,373L1693,336Z" fill="#5c4089" stroke="#5c4089" stroke-width="1.51"></path>
    <path d="M1659,269L1637,336L1693,336Z" fill="#5f3e84" stroke="#5f3e84" stroke-width="1.51"></path>
    <path d="M1640,46L1658,73L1680,43Z" fill="#8c4074" stroke="#8c4074" stroke-width="1.51"></path>
    <path d="M1486,428L1398,448L1565,446Z" fill="#593283" stroke="#593283" stroke-width="1.51"></path>
    <path d="M1573,-21L1640,46L1653,-34Z" fill="#974c7c" stroke="#974c7c" stroke-width="1.51"></path>
    <path d="M1592,130L1638,152L1658,73Z" fill="#83376b" stroke="#83376b" stroke-width="1.51"></path>
    <path d="M1624,187L1571,216L1659,269Z" fill="#693578" stroke="#693578" stroke-width="1.51"></path>
    <path d="M1594,292L1637,336L1659,269Z" fill="#613e83" stroke="#613e83" stroke-width="1.51"></path>
    <path d="M1637,336L1640,424L1667,373Z" fill="#5a3c88" stroke="#5a3c88" stroke-width="1.51"></path>
    <path d="M787,-91L975,-81L1042,-89Z" fill="#b45e6a" stroke="#b45e6a" stroke-width="1.51"></path>
    <path d="M1525,432L1486,428L1565,446Z" fill="#583485" stroke="#583485" stroke-width="1.51"></path>
    <path d="M1637,336L1569,376L1640,424Z" fill="#5b3e88" stroke="#5b3e88" stroke-width="1.51"></path>
    <path d="M1573,-21L1572,27L1640,46Z" fill="#944879" stroke="#944879" stroke-width="1.51"></path>
    <path d="M1580,69L1592,130L1658,73Z" fill="#873c6f" stroke="#873c6f" stroke-width="1.51"></path>
    <path d="M1579,282L1594,292L1659,269Z" fill="#643c80" stroke="#643c80" stroke-width="1.51"></path>
    <path d="M1571,216L1579,282L1659,269Z" fill="#66397d" stroke="#66397d" stroke-width="1.51"></path>
    <path d="M1640,46L1580,69L1658,73Z" fill="#8c3f73" stroke="#8c3f73" stroke-width="1.51"></path>
    <path d="M1648,-71L1601,-77L1653,-34Z" fill="#9d5f80" stroke="#9d5f80" stroke-width="1.51"></path>
    <path d="M1601,-77L1573,-21L1653,-34Z" fill="#9b5a7f" stroke="#9b5a7f" stroke-width="1.51"></path>
    <path d="M1569,376L1565,446L1640,424Z" fill="#583988" stroke="#583988" stroke-width="1.51"></path>
    <path d="M1572,27L1580,69L1640,46Z" fill="#8f4375" stroke="#8f4375" stroke-width="1.51"></path>
    <path d="M1592,130L1624,187L1638,152Z" fill="#7a3670" stroke="#7a3670" stroke-width="1.51"></path>
    <path d="M1594,292L1569,376L1637,336Z" fill="#5e4388" stroke="#5e4388" stroke-width="1.51"></path>
    <path d="M1571,216L1558,259L1579,282Z" fill="#66397c" stroke="#66397c" stroke-width="1.51"></path>
    <path d="M1592,130L1564,210L1624,187Z" fill="#763772" stroke="#763772" stroke-width="1.51"></path>
    <path d="M1564,210L1571,216L1624,187Z" fill="#6f3776" stroke="#6f3776" stroke-width="1.51"></path>
    <path d="M1196,-84L1252,-69L1387,-76Z" fill="#a45c76" stroke="#a45c76" stroke-width="1.51"></path>
    <path d="M1536,330L1543,363L1569,376Z" fill="#5e4087" stroke="#5e4087" stroke-width="1.51"></path>
    <path d="M1532,142L1564,210L1592,130Z" fill="#7a366f" stroke="#7a366f" stroke-width="1.51"></path>
    <path d="M1579,282L1536,330L1594,292Z" fill="#623f83" stroke="#623f83" stroke-width="1.51"></path>
    <path d="M1536,330L1569,376L1594,292Z" fill="#604387" stroke="#604387" stroke-width="1.51"></path>
    <path d="M1532,-92L1573,-21L1601,-77Z" fill="#9e6180" stroke="#9e6180" stroke-width="1.51"></path>
    <path d="M1551,10L1572,27L1573,-21Z" fill="#964b7a" stroke="#964b7a" stroke-width="1.51"></path>
    <path d="M1580,69L1515,105L1592,130Z" fill="#873a6c" stroke="#873a6c" stroke-width="1.51"></path>
    <path d="M1515,105L1532,142L1592,130Z" fill="#82376a" stroke="#82376a" stroke-width="1.51"></path>
    <path d="M1525,432L1565,446L1569,376Z" fill="#593886" stroke="#593886" stroke-width="1.51"></path>
    <path d="M1551,10L1515,105L1572,27Z" fill="#904274" stroke="#904274" stroke-width="1.51"></path>
    <path d="M1532,-92L1524,-24L1573,-21Z" fill="#9d5a7e" stroke="#9d5a7e" stroke-width="1.51"></path>
    <path d="M1558,259L1536,330L1579,282Z" fill="#643d81" stroke="#643d81" stroke-width="1.51"></path>
    <path d="M1572,27L1515,105L1580,69Z" fill="#8d3f71" stroke="#8d3f71" stroke-width="1.51"></path>
    <path d="M1486,14L1515,105L1551,10Z" fill="#914273" stroke="#914273" stroke-width="1.51"></path>
    <path d="M1532,142L1490,181L1564,210Z" fill="#763570" stroke="#763570" stroke-width="1.51"></path>
    <path d="M1543,363L1525,432L1569,376Z" fill="#5b3b87" stroke="#5b3b87" stroke-width="1.51"></path>
    <path d="M1564,210L1558,259L1571,216Z" fill="#693678" stroke="#693678" stroke-width="1.51"></path>
    <path d="M1524,-24L1551,10L1573,-21Z" fill="#994f7b" stroke="#994f7b" stroke-width="1.51"></path>
    <path d="M1387,-76L1463,-60L1532,-92Z" fill="#a1627d" stroke="#a1627d" stroke-width="1.51"></path>
    <path d="M1490,181L1558,259L1564,210Z" fill="#6c3576" stroke="#6c3576" stroke-width="1.51"></path>
    <path d="M1460,269L1536,330L1558,259Z" fill="#653b7f" stroke="#653b7f" stroke-width="1.51"></path>
    <path d="M1490,181L1460,269L1558,259Z" fill="#693477" stroke="#693477" stroke-width="1.51"></path>
    <path d="M1492,353L1486,428L1525,432Z" fill="#5b3784" stroke="#5b3784" stroke-width="1.51"></path>
    <path d="M1460,269L1455,289L1536,330Z" fill="#653b7e" stroke="#653b7e" stroke-width="1.51"></path>
    <path d="M1492,353L1525,432L1543,363Z" fill="#5d3c86" stroke="#5d3c86" stroke-width="1.51"></path>
    <path d="M1524,-24L1486,14L1551,10Z" fill="#984b79" stroke="#984b79" stroke-width="1.51"></path>
    <path d="M1463,-60L1524,-24L1532,-92Z" fill="#9f5d7d" stroke="#9f5d7d" stroke-width="1.51"></path>
    <path d="M1536,330L1492,353L1543,363Z" fill="#5f4186" stroke="#5f4186" stroke-width="1.51"></path>
    <path d="M787,-91L949,-79L975,-81Z" fill="#b55d69" stroke="#b55d69" stroke-width="1.51"></path>
    <path d="M1482,-7L1486,14L1524,-24Z" fill="#984b78" stroke="#984b78" stroke-width="1.51"></path>
    <path d="M1515,105L1500,117L1532,142Z" fill="#843568" stroke="#843568" stroke-width="1.51"></path>
    <path d="M1455,289L1492,353L1536,330Z" fill="#623f83" stroke="#623f83" stroke-width="1.51"></path>
    <path d="M1500,117L1490,181L1532,142Z" fill="#7e356b" stroke="#7e356b" stroke-width="1.51"></path>
    <path d="M1443,253L1460,269L1490,181Z" fill="#6a3275" stroke="#6a3275" stroke-width="1.51"></path>
    <path d="M1464,152L1490,181L1500,117Z" fill="#7d346b" stroke="#7d346b" stroke-width="1.51"></path>
    <path d="M1486,14L1500,117L1515,105Z" fill="#8b3b6d" stroke="#8b3b6d" stroke-width="1.51"></path>
    <path d="M1463,-60L1482,-7L1524,-24Z" fill="#9c547a" stroke="#9c547a" stroke-width="1.51"></path>
    <path d="M1406,42L1419,113L1486,14Z" fill="#8f3c6e" stroke="#8f3c6e" stroke-width="1.51"></path>
    <path d="M1443,410L1486,428L1492,353Z" fill="#5d3883" stroke="#5d3883" stroke-width="1.51"></path>
    <path d="M1486,14L1419,113L1500,117Z" fill="#8b3a6c" stroke="#8b3a6c" stroke-width="1.51"></path>
    <path d="M1455,289L1440,317L1492,353Z" fill="#633e81" stroke="#633e81" stroke-width="1.51"></path>
    <path d="M1419,113L1464,152L1500,117Z" fill="#833467" stroke="#833467" stroke-width="1.51"></path>
    <path d="M1440,317L1401,350L1443,410Z" fill="#613d82" stroke="#613d82" stroke-width="1.51"></path>
    <path d="M1463,-60L1441,-44L1482,-7Z" fill="#9d557a" stroke="#9d557a" stroke-width="1.51"></path>
    <path d="M1443,410L1398,448L1486,428Z" fill="#5b3282" stroke="#5b3282" stroke-width="1.51"></path>
    <path d="M1404,219L1443,253L1490,181Z" fill="#6e3172" stroke="#6e3172" stroke-width="1.51"></path>
    <path d="M1436,159L1404,219L1490,181Z" fill="#76326e" stroke="#76326e" stroke-width="1.51"></path>
    <path d="M1440,317L1443,410L1492,353Z" fill="#603d83" stroke="#603d83" stroke-width="1.51"></path>
    <path d="M1464,152L1436,159L1490,181Z" fill="#7b336c" stroke="#7b336c" stroke-width="1.51"></path>
    <path d="M1482,-7L1406,42L1486,14Z" fill="#964474" stroke="#964474" stroke-width="1.51"></path>
    <path d="M1387,-76L1412,-54L1463,-60Z" fill="#a05c7a" stroke="#a05c7a" stroke-width="1.51"></path>
    <path d="M1441,-44L1406,42L1482,-7Z" fill="#994976" stroke="#994976" stroke-width="1.51"></path>
    <path d="M1401,350L1399,355L1443,410Z" fill="#603a82" stroke="#603a82" stroke-width="1.51"></path>
    <path d="M1412,-54L1441,-44L1463,-60Z" fill="#9f597a" stroke="#9f597a" stroke-width="1.51"></path>
    <path d="M1419,113L1436,159L1464,152Z" fill="#803268" stroke="#803268" stroke-width="1.51"></path>
    <path d="M1390,35L1406,42L1441,-44Z" fill="#984374" stroke="#984374" stroke-width="1.51"></path>
    <path d="M1443,253L1455,289L1460,269Z" fill="#68377a" stroke="#68377a" stroke-width="1.51"></path>
    <path d="M1252,-69L1335,-57L1387,-76Z" fill="#a25a77" stroke="#a25a77" stroke-width="1.51"></path>
    <path d="M1390,179L1404,219L1436,159Z" fill="#76306d" stroke="#76306d" stroke-width="1.51"></path>
    <path d="M1412,-54L1390,35L1441,-44Z" fill="#9b4e77" stroke="#9b4e77" stroke-width="1.51"></path>
    <path d="M1443,253L1440,317L1455,289Z" fill="#67397c" stroke="#67397c" stroke-width="1.51"></path>
    <path d="M1364,8L1390,35L1412,-54Z" fill="#9a4774" stroke="#9a4774" stroke-width="1.51"></path>
    <path d="M1399,355L1398,448L1443,410Z" fill="#5e3581" stroke="#5e3581" stroke-width="1.51"></path>
    <path d="M1404,219L1354,230L1443,253Z" fill="#6b3073" stroke="#6b3073" stroke-width="1.51"></path>
    <path d="M1354,230L1352,327L1443,253Z" fill="#693577" stroke="#693577" stroke-width="1.51"></path>
    <path d="M1352,327L1440,317L1443,253Z" fill="#673a7c" stroke="#673a7c" stroke-width="1.51"></path>
    <path d="M1352,327L1401,350L1440,317Z" fill="#643d81" stroke="#643d81" stroke-width="1.51"></path>
    <path d="M1419,113L1372,158L1436,159Z" fill="#803167" stroke="#803167" stroke-width="1.51"></path>
    <path d="M1372,158L1390,179L1436,159Z" fill="#7b306a" stroke="#7b306a" stroke-width="1.51"></path>
    <path d="M1406,42L1359,65L1419,113Z" fill="#8d386b" stroke="#8d386b" stroke-width="1.51"></path>
    <path d="M1359,65L1372,158L1419,113Z" fill="#873264" stroke="#873264" stroke-width="1.51"></path>
    <path d="M1042,-89L1140,-76L1196,-84Z" fill="#a85b71" stroke="#a85b71" stroke-width="1.51"></path>
    <path d="M1359,65L1326,135L1372,158Z" fill="#862f62" stroke="#862f62" stroke-width="1.51"></path>
    <path d="M1335,-57L1364,8L1387,-76Z" fill="#9f5377" stroke="#9f5377" stroke-width="1.51"></path>
    <path d="M1297,433L1398,448L1399,355Z" fill="#5e327f" stroke="#5e327f" stroke-width="1.51"></path>
    <path d="M1297,367L1297,433L1399,355Z" fill="#61357e" stroke="#61357e" stroke-width="1.51"></path>
    <path d="M1390,35L1359,65L1406,42Z" fill="#923c6e" stroke="#923c6e" stroke-width="1.51"></path>
    <path d="M1387,-76L1364,8L1412,-54Z" fill="#9e5477" stroke="#9e5477" stroke-width="1.51"></path>
    <path d="M1352,327L1297,367L1399,355Z" fill="#633b80" stroke="#633b80" stroke-width="1.51"></path>
    <path d="M1390,179L1354,230L1404,219Z" fill="#712f6f" stroke="#712f6f" stroke-width="1.51"></path>
    <path d="M1212,411L1111,435L1297,433Z" fill="#602a79" stroke="#602a79" stroke-width="1.51"></path>
    <path d="M1289,416L1297,433L1297,367Z" fill="#60307c" stroke="#60307c" stroke-width="1.51"></path>
    <path d="M1352,327L1399,355L1401,350Z" fill="#633d81" stroke="#633d81" stroke-width="1.51"></path>
    <path d="M1372,158L1340,222L1390,179Z" fill="#772f6c" stroke="#772f6c" stroke-width="1.51"></path>
    <path d="M1340,222L1354,230L1390,179Z" fill="#712e6e" stroke="#712e6e" stroke-width="1.51"></path>
    <path d="M1364,8L1359,65L1390,35Z" fill="#943d6f" stroke="#943d6f" stroke-width="1.51"></path>
    <path d="M1335,-57L1326,-3L1364,8Z" fill="#9b4a74" stroke="#9b4a74" stroke-width="1.51"></path>
    <path d="M1307,337L1297,367L1352,327Z" fill="#643b7f" stroke="#643b7f" stroke-width="1.51"></path>
    <path d="M1314,230L1307,337L1352,327Z" fill="#683679" stroke="#683679" stroke-width="1.51"></path>
    <path d="M1314,230L1352,327L1354,230Z" fill="#6a3274" stroke="#6a3274" stroke-width="1.51"></path>
    <path d="M1295,93L1326,135L1359,65Z" fill="#8a3265" stroke="#8a3265" stroke-width="1.51"></path>
    <path d="M1326,-3L1359,65L1364,8Z" fill="#963e6f" stroke="#963e6f" stroke-width="1.51"></path>
    <path d="M1326,135L1340,222L1372,158Z" fill="#7a2e69" stroke="#7a2e69" stroke-width="1.51"></path>
    <path d="M1326,-3L1290,37L1359,65Z" fill="#953c6d" stroke="#953c6d" stroke-width="1.51"></path>
    <path d="M1259,258L1307,337L1314,230Z" fill="#6a3274" stroke="#6a3274" stroke-width="1.51"></path>
    <path d="M1326,135L1270,202L1340,222Z" fill="#782c69" stroke="#782c69" stroke-width="1.51"></path>
    <path d="M1270,202L1314,230L1340,222Z" fill="#702c6d" stroke="#702c6d" stroke-width="1.51"></path>
    <path d="M1340,222L1314,230L1354,230Z" fill="#6d2d6f" stroke="#6d2d6f" stroke-width="1.51"></path>
    <path d="M1290,37L1295,93L1359,65Z" fill="#8f3769" stroke="#8f3769" stroke-width="1.51"></path>
    <path d="M1259,258L1281,332L1307,337Z" fill="#683679" stroke="#683679" stroke-width="1.51"></path>
    <path d="M1252,-69L1244,-17L1326,-3Z" fill="#9e4c72" stroke="#9e4c72" stroke-width="1.51"></path>
    <path d="M1252,-69L1326,-3L1335,-57Z" fill="#9f5275" stroke="#9f5275" stroke-width="1.51"></path>
    <path d="M1295,93L1235,134L1326,135Z" fill="#862c60" stroke="#862c60" stroke-width="1.51"></path>
    <path d="M1235,134L1270,202L1326,135Z" fill="#7f2b64" stroke="#7f2b64" stroke-width="1.51"></path>
    <path d="M1244,-17L1290,37L1326,-3Z" fill="#994070" stroke="#994070" stroke-width="1.51"></path>
    <path d="M1270,202L1259,258L1314,230Z" fill="#6e2b6e" stroke="#6e2b6e" stroke-width="1.51"></path>
    <path d="M1290,37L1254,76L1295,93Z" fill="#8f3467" stroke="#8f3467" stroke-width="1.51"></path>
    <path d="M1281,332L1297,367L1307,337Z" fill="#65397e" stroke="#65397e" stroke-width="1.51"></path>
    <path d="M491,-97L612,-78L787,-91Z" fill="#c36567" stroke="#c36567" stroke-width="1.51"></path>
    <path d="M1254,76L1235,134L1295,93Z" fill="#8a2f62" stroke="#8a2f62" stroke-width="1.51"></path>
    <path d="M1289,416L1212,411L1297,433Z" fill="#602d7b" stroke="#602d7b" stroke-width="1.51"></path>
    <path d="M1251,352L1289,416L1297,367Z" fill="#63347c" stroke="#63347c" stroke-width="1.51"></path>
    <path d="M1281,332L1251,352L1297,367Z" fill="#65387d" stroke="#65387d" stroke-width="1.51"></path>
    <path d="M1243,57L1254,76L1290,37Z" fill="#913668" stroke="#913668" stroke-width="1.51"></path>
    <path d="M1251,352L1212,411L1289,416Z" fill="#62317b" stroke="#62317b" stroke-width="1.51"></path>
    <path d="M1244,-17L1243,57L1290,37Z" fill="#963a6c" stroke="#963a6c" stroke-width="1.51"></path>
    <path d="M1193,288L1251,352L1259,258Z" fill="#6a3376" stroke="#6a3376" stroke-width="1.51"></path>
    <path d="M1259,258L1251,352L1281,332Z" fill="#683679" stroke="#683679" stroke-width="1.51"></path>
    <path d="M1235,134L1220,204L1270,202Z" fill="#7a2a66" stroke="#7a2a66" stroke-width="1.51"></path>
    <path d="M1220,204L1259,258L1270,202Z" fill="#702a6c" stroke="#702a6c" stroke-width="1.51"></path>
    <path d="M1177,16L1190,51L1243,57Z" fill="#943667" stroke="#943667" stroke-width="1.51"></path>
    <path d="M1177,16L1243,57L1244,-17Z" fill="#983a6c" stroke="#983a6c" stroke-width="1.51"></path>
    <path d="M1185,373L1212,411L1251,352Z" fill="#64327a" stroke="#64327a" stroke-width="1.51"></path>
    <path d="M1208,78L1235,134L1254,76Z" fill="#8b2e61" stroke="#8b2e61" stroke-width="1.51"></path>
    <path d="M1220,204L1186,262L1259,258Z" fill="#6e2a6d" stroke="#6e2a6d" stroke-width="1.51"></path>
    <path d="M1186,262L1193,288L1259,258Z" fill="#6c2e71" stroke="#6c2e71" stroke-width="1.51"></path>
    <path d="M1184,-13L1177,16L1244,-17Z" fill="#9b406d" stroke="#9b406d" stroke-width="1.51"></path>
    <path d="M1196,-84L1184,-13L1244,-17Z" fill="#a04c70" stroke="#a04c70" stroke-width="1.51"></path>
    <path d="M1193,288L1185,373L1251,352Z" fill="#68377a" stroke="#68377a" stroke-width="1.51"></path>
    <path d="M1196,-84L1244,-17L1252,-69Z" fill="#a25473" stroke="#a25473" stroke-width="1.51"></path>
    <path d="M1243,57L1208,78L1254,76Z" fill="#8f3365" stroke="#8f3365" stroke-width="1.51"></path>
    <path d="M1183,148L1220,204L1235,134Z" fill="#7e2963" stroke="#7e2963" stroke-width="1.51"></path>
    <path d="M1190,51L1208,78L1243,57Z" fill="#913365" stroke="#913365" stroke-width="1.51"></path>
    <path d="M551,431L412,449L705,445Z" fill="#842e70" stroke="#842e70" stroke-width="1.51"></path>
    <path d="M1162,399L1111,435L1212,411Z" fill="#632a77" stroke="#632a77" stroke-width="1.51"></path>
    <path d="M1174,218L1186,262L1220,204Z" fill="#6f276a" stroke="#6f276a" stroke-width="1.51"></path>
    <path d="M1208,78L1183,148L1235,134Z" fill="#87285d" stroke="#87285d" stroke-width="1.51"></path>
    <path d="M1145,313L1185,373L1193,288Z" fill="#693477" stroke="#693477" stroke-width="1.51"></path>
    <path d="M1165,-25L1184,-13L1196,-84Z" fill="#a14c70" stroke="#a14c70" stroke-width="1.51"></path>
    <path d="M1159,78L1183,148L1208,78Z" fill="#8b2b5f" stroke="#8b2b5f" stroke-width="1.51"></path>
    <path d="M1183,148L1174,218L1220,204Z" fill="#782866" stroke="#782866" stroke-width="1.51"></path>
    <path d="M1154,157L1174,218L1183,148Z" fill="#7c2663" stroke="#7c2663" stroke-width="1.51"></path>
    <path d="M1185,373L1162,399L1212,411Z" fill="#642e79" stroke="#642e79" stroke-width="1.51"></path>
    <path d="M1190,51L1159,78L1208,78Z" fill="#903063" stroke="#903063" stroke-width="1.51"></path>
    <path d="M1159,78L1154,157L1183,148Z" fill="#86275d" stroke="#86275d" stroke-width="1.51"></path>
    <path d="M1145,313L1127,343L1185,373Z" fill="#693679" stroke="#693679" stroke-width="1.51"></path>
    <path d="M1140,-76L1165,-25L1196,-84Z" fill="#a35371" stroke="#a35371" stroke-width="1.51"></path>
    <path d="M1186,262L1132,275L1193,288Z" fill="#6c2d70" stroke="#6c2d70" stroke-width="1.51"></path>
    <path d="M1132,275L1145,313L1193,288Z" fill="#6c3072" stroke="#6c3072" stroke-width="1.51"></path>
    <path d="M1177,16L1159,78L1190,51Z" fill="#933365" stroke="#933365" stroke-width="1.51"></path>
    <path d="M1114,38L1159,78L1177,16Z" fill="#953466" stroke="#953466" stroke-width="1.51"></path>
    <path d="M1165,-25L1177,16L1184,-13Z" fill="#9c406d" stroke="#9c406d" stroke-width="1.51"></path>
    <path d="M1174,218L1132,275L1186,262Z" fill="#6f2a6d" stroke="#6f2a6d" stroke-width="1.51"></path>
    <path d="M1115,239L1132,275L1174,218Z" fill="#70286b" stroke="#70286b" stroke-width="1.51"></path>
    <path d="M1127,343L1162,399L1185,373Z" fill="#663178" stroke="#663178" stroke-width="1.51"></path>
    <path d="M1124,159L1154,157L1159,78Z" fill="#86275c" stroke="#86275c" stroke-width="1.51"></path>
    <path d="M1154,157L1124,159L1174,218Z" fill="#7c2663" stroke="#7c2663" stroke-width="1.51"></path>
    <path d="M1124,159L1115,239L1174,218Z" fill="#772666" stroke="#772666" stroke-width="1.51"></path>
    <path d="M1165,-25L1114,38L1177,16Z" fill="#9b396a" stroke="#9b396a" stroke-width="1.51"></path>
    <path d="M1082,98L1124,159L1159,78Z" fill="#8b285b" stroke="#8b285b" stroke-width="1.51"></path>
    <path d="M1140,-76L1099,-40L1165,-25Z" fill="#a34e6f" stroke="#a34e6f" stroke-width="1.51"></path>
    <path d="M1099,-40L1114,38L1165,-25Z" fill="#9f406b" stroke="#9f406b" stroke-width="1.51"></path>
    <path d="M1127,343L1111,435L1162,399Z" fill="#662e77" stroke="#662e77" stroke-width="1.51"></path>
    <path d="M1114,38L1082,98L1159,78Z" fill="#922f61" stroke="#922f61" stroke-width="1.51"></path>
    <path d="M1074,193L1115,239L1124,159Z" fill="#7b2664" stroke="#7b2664" stroke-width="1.51"></path>
    <path d="M1097,-47L1099,-40L1140,-76Z" fill="#a6516e" stroke="#a6516e" stroke-width="1.51"></path>
    <path d="M1120,328L1127,343L1145,313Z" fill="#6c3576" stroke="#6c3576" stroke-width="1.51"></path>
    <path d="M1075,343L1111,435L1127,343Z" fill="#6a3177" stroke="#6a3177" stroke-width="1.51"></path>
    <path d="M1042,-89L1097,-47L1140,-76Z" fill="#a9576f" stroke="#a9576f" stroke-width="1.51"></path>
    <path d="M1132,275L1120,328L1145,313Z" fill="#6d3173" stroke="#6d3173" stroke-width="1.51"></path>
    <path d="M1075,343L1033,388L1111,435Z" fill="#6b2f75" stroke="#6b2f75" stroke-width="1.51"></path>
    <path d="M1047,263L1075,343L1120,328Z" fill="#703372" stroke="#703372" stroke-width="1.51"></path>
    <path d="M1047,263L1120,328L1132,275Z" fill="#702f6f" stroke="#702f6f" stroke-width="1.51"></path>
    <path d="M1115,239L1047,263L1132,275Z" fill="#722b6b" stroke="#722b6b" stroke-width="1.51"></path>
    <path d="M1099,-40L1048,-26L1114,38Z" fill="#a14169" stroke="#a14169" stroke-width="1.51"></path>
    <path d="M1120,328L1075,343L1127,343Z" fill="#6d3677" stroke="#6d3677" stroke-width="1.51"></path>
    <path d="M1074,193L1064,221L1115,239Z" fill="#772665" stroke="#772665" stroke-width="1.51"></path>
    <path d="M1082,98L1045,170L1124,159Z" fill="#87265c" stroke="#87265c" stroke-width="1.51"></path>
    <path d="M1045,170L1074,193L1124,159Z" fill="#812660" stroke="#812660" stroke-width="1.51"></path>
    <path d="M1031,47L1082,98L1114,38Z" fill="#963161" stroke="#963161" stroke-width="1.51"></path>
    <path d="M1048,-26L1031,47L1114,38Z" fill="#9e3866" stroke="#9e3866" stroke-width="1.51"></path>
    <path d="M1064,221L1047,263L1115,239Z" fill="#742868" stroke="#742868" stroke-width="1.51"></path>
    <path d="M1033,388L1024,401L1111,435Z" fill="#6b2b74" stroke="#6b2b74" stroke-width="1.51"></path>
    <path d="M1024,401L1012,444L1111,435Z" fill="#692873" stroke="#692873" stroke-width="1.51"></path>
    <path d="M1047,263L1028,331L1075,343Z" fill="#723371" stroke="#723371" stroke-width="1.51"></path>
    <path d="M1031,47L1049,98L1082,98Z" fill="#942e5d" stroke="#942e5d" stroke-width="1.51"></path>
    <path d="M1049,98L1045,170L1082,98Z" fill="#8d2758" stroke="#8d2758" stroke-width="1.51"></path>
    <path d="M1042,-89L1048,-26L1097,-47Z" fill="#a8516d" stroke="#a8516d" stroke-width="1.51"></path>
    <path d="M1097,-47L1048,-26L1099,-40Z" fill="#a54c6c" stroke="#a54c6c" stroke-width="1.51"></path>
    <path d="M1028,331L1033,388L1075,343Z" fill="#703475" stroke="#703475" stroke-width="1.51"></path>
    <path d="M1045,170L1064,221L1074,193Z" fill="#7e2662" stroke="#7e2662" stroke-width="1.51"></path>
    <path d="M987,158L1045,170L1049,98Z" fill="#8b275a" stroke="#8b275a" stroke-width="1.51"></path>
    <path d="M976,220L1047,263L1064,221Z" fill="#782765" stroke="#782765" stroke-width="1.51"></path>
    <path d="M1045,170L976,220L1064,221Z" fill="#7e2662" stroke="#7e2662" stroke-width="1.51"></path>
    <path d="M985,263L972,291L1028,331Z" fill="#76316d" stroke="#76316d" stroke-width="1.51"></path>
    <path d="M963,-44L953,46L1031,47Z" fill="#a33963" stroke="#a33963" stroke-width="1.51"></path>
    <path d="M987,158L976,220L1045,170Z" fill="#84275e" stroke="#84275e" stroke-width="1.51"></path>
    <path d="M976,220L985,263L1047,263Z" fill="#792a67" stroke="#792a67" stroke-width="1.51"></path>
    <path d="M985,263L1028,331L1047,263Z" fill="#762f6c" stroke="#762f6c" stroke-width="1.51"></path>
    <path d="M963,-44L1031,47L1048,-26Z" fill="#a54167" stroke="#a54167" stroke-width="1.51"></path>
    <path d="M1042,-89L975,-81L1048,-26Z" fill="#ac566c" stroke="#ac566c" stroke-width="1.51"></path>
    <path d="M975,-81L963,-44L1048,-26Z" fill="#ab5169" stroke="#ab5169" stroke-width="1.51"></path>
    <path d="M988,64L965,119L1049,98Z" fill="#952c59" stroke="#952c59" stroke-width="1.51"></path>
    <path d="M965,119L987,158L1049,98Z" fill="#8f2756" stroke="#8f2756" stroke-width="1.51"></path>
    <path d="M1031,47L988,64L1049,98Z" fill="#98305e" stroke="#98305e" stroke-width="1.51"></path>
    <path d="M1028,331L986,344L1033,388Z" fill="#723573" stroke="#723573" stroke-width="1.51"></path>
    <path d="M953,46L988,64L1031,47Z" fill="#9c335f" stroke="#9c335f" stroke-width="1.51"></path>
    <path d="M512,432L412,449L551,431Z" fill="#873273" stroke="#873273" stroke-width="1.51"></path>
    <path d="M972,291L986,344L1028,331Z" fill="#753571" stroke="#753571" stroke-width="1.51"></path>
    <path d="M986,344L1024,401L1033,388Z" fill="#703173" stroke="#703173" stroke-width="1.51"></path>
    <path d="M948,402L847,433L1012,444Z" fill="#71296f" stroke="#71296f" stroke-width="1.51"></path>
    <path d="M948,402L1012,444L1024,401Z" fill="#6e2b72" stroke="#6e2b72" stroke-width="1.51"></path>
    <path d="M986,344L948,402L1024,401Z" fill="#713072" stroke="#713072" stroke-width="1.51"></path>
    <path d="M908,-7L953,46L963,-44Z" fill="#a83f64" stroke="#a83f64" stroke-width="1.51"></path>
    <path d="M976,220L918,269L985,263Z" fill="#7b2a66" stroke="#7b2a66" stroke-width="1.51"></path>
    <path d="M955,300L925,341L986,344Z" fill="#773670" stroke="#773670" stroke-width="1.51"></path>
    <path d="M925,341L948,402L986,344Z" fill="#753471" stroke="#753471" stroke-width="1.51"></path>
    <path d="M972,291L955,300L986,344Z" fill="#77336e" stroke="#77336e" stroke-width="1.51"></path>
    <path d="M965,119L938,128L987,158Z" fill="#8f2757" stroke="#8f2757" stroke-width="1.51"></path>
    <path d="M951,206L976,220L987,158Z" fill="#83265f" stroke="#83265f" stroke-width="1.51"></path>
    <path d="M936,101L965,119L988,64Z" fill="#972c58" stroke="#972c58" stroke-width="1.51"></path>
    <path d="M953,46L936,101L988,64Z" fill="#9b305b" stroke="#9b305b" stroke-width="1.51"></path>
    <path d="M938,128L951,206L987,158Z" fill="#8a275b" stroke="#8a275b" stroke-width="1.51"></path>
    <path d="M787,-91L861,-51L949,-79Z" fill="#b65a66" stroke="#b65a66" stroke-width="1.51"></path>
    <path d="M918,269L972,291L985,263Z" fill="#7a2e69" stroke="#7a2e69" stroke-width="1.51"></path>
    <path d="M918,269L955,300L972,291Z" fill="#7a306a" stroke="#7a306a" stroke-width="1.51"></path>
    <path d="M949,-79L963,-44L975,-81Z" fill="#af586a" stroke="#af586a" stroke-width="1.51"></path>
    <path d="M951,206L918,269L976,220Z" fill="#7c2763" stroke="#7c2763" stroke-width="1.51"></path>
    <path d="M904,253L918,269L951,206Z" fill="#7d2963" stroke="#7d2963" stroke-width="1.51"></path>
    <path d="M869,398L847,433L948,402Z" fill="#752b6e" stroke="#752b6e" stroke-width="1.51"></path>
    <path d="M936,101L938,128L965,119Z" fill="#942855" stroke="#942855" stroke-width="1.51"></path>
    <path d="M938,128L875,204L951,206Z" fill="#89275b" stroke="#89275b" stroke-width="1.51"></path>
    <path d="M949,-79L908,-7L963,-44Z" fill="#ad4f67" stroke="#ad4f67" stroke-width="1.51"></path>
    <path d="M876,-41L908,-7L949,-79Z" fill="#af4f66" stroke="#af4f66" stroke-width="1.51"></path>
    <path d="M904,299L925,341L955,300Z" fill="#7a336d" stroke="#7a336d" stroke-width="1.51"></path>
    <path d="M918,269L904,299L955,300Z" fill="#7b306a" stroke="#7b306a" stroke-width="1.51"></path>
    <path d="M925,341L869,398L948,402Z" fill="#76306f" stroke="#76306f" stroke-width="1.51"></path>
    <path d="M908,-7L855,28L953,46Z" fill="#a63960" stroke="#a63960" stroke-width="1.51"></path>
    <path d="M873,106L936,101L953,46Z" fill="#9b2e58" stroke="#9b2e58" stroke-width="1.51"></path>
    <path d="M855,28L873,106L953,46Z" fill="#a0325a" stroke="#a0325a" stroke-width="1.51"></path>
    <path d="M855,147L875,204L938,128Z" fill="#8f2758" stroke="#8f2758" stroke-width="1.51"></path>
    <path d="M875,204L904,253L951,206Z" fill="#802660" stroke="#802660" stroke-width="1.51"></path>
    <path d="M861,-51L876,-41L949,-79Z" fill="#b25466" stroke="#b25466" stroke-width="1.51"></path>
    <path d="M864,357L869,398L925,341Z" fill="#79336f" stroke="#79336f" stroke-width="1.51"></path>
    <path d="M936,101L873,106L938,128Z" fill="#962954" stroke="#962954" stroke-width="1.51"></path>
    <path d="M873,106L855,147L938,128Z" fill="#952753" stroke="#952753" stroke-width="1.51"></path>
    <path d="M105,419L1,429L325,443Z" fill="#954b7d" stroke="#954b7d" stroke-width="1.51"></path>
    <path d="M904,299L864,357L925,341Z" fill="#7b366f" stroke="#7b366f" stroke-width="1.51"></path>
    <path d="M904,253L904,299L918,269Z" fill="#7d2e67" stroke="#7d2e67" stroke-width="1.51"></path>
    <path d="M801,275L904,299L904,253Z" fill="#7f2e66" stroke="#7f2e66" stroke-width="1.51"></path>
    <path d="M876,-41L855,28L908,-7Z" fill="#ac4262" stroke="#ac4262" stroke-width="1.51"></path>
    <path d="M855,28L825,70L873,106Z" fill="#a13158" stroke="#a13158" stroke-width="1.51"></path>
    <path d="M805,325L842,354L904,299Z" fill="#7e366c" stroke="#7e366c" stroke-width="1.51"></path>
    <path d="M801,275L805,325L904,299Z" fill="#803268" stroke="#803268" stroke-width="1.51"></path>
    <path d="M842,354L864,357L904,299Z" fill="#7c376e" stroke="#7c376e" stroke-width="1.51"></path>
    <path d="M875,204L801,275L904,253Z" fill="#812962" stroke="#812962" stroke-width="1.51"></path>
    <path d="M787,-91L816,-47L861,-51Z" fill="#b75764" stroke="#b75764" stroke-width="1.51"></path>
    <path d="M864,357L842,354L869,398Z" fill="#7a326e" stroke="#7a326e" stroke-width="1.51"></path>
    <path d="M855,147L830,153L875,204Z" fill="#8f2757" stroke="#8f2757" stroke-width="1.51"></path>
    <path d="M830,153L812,177L875,204Z" fill="#8d2758" stroke="#8d2758" stroke-width="1.51"></path>
    <path d="M812,177L801,275L875,204Z" fill="#85275d" stroke="#85275d" stroke-width="1.51"></path>
    <path d="M861,-51L820,-11L876,-41Z" fill="#b14c63" stroke="#b14c63" stroke-width="1.51"></path>
    <path d="M820,-11L855,28L876,-41Z" fill="#ae4261" stroke="#ae4261" stroke-width="1.51"></path>
    <path d="M830,153L855,147L873,106Z" fill="#952753" stroke="#952753" stroke-width="1.51"></path>
    <path d="M825,70L830,153L873,106Z" fill="#9b2952" stroke="#9b2952" stroke-width="1.51"></path>
    <path d="M776,405L705,445L847,433Z" fill="#7b296a" stroke="#7b296a" stroke-width="1.51"></path>
    <path d="M842,354L847,433L869,398Z" fill="#792e6d" stroke="#792e6d" stroke-width="1.51"></path>
    <path d="M842,354L776,405L847,433Z" fill="#7b2e6c" stroke="#7b2e6c" stroke-width="1.51"></path>
    <path d="M816,-47L820,-11L861,-51Z" fill="#b24d62" stroke="#b24d62" stroke-width="1.51"></path>
    <path d="M820,-11L813,24L855,28Z" fill="#ac3b5e" stroke="#ac3b5e" stroke-width="1.51"></path>
    <path d="M612,-78L692,-60L787,-91Z" fill="#be5e64" stroke="#be5e64" stroke-width="1.51"></path>
    <path d="M761,212L801,275L812,177Z" fill="#87275c" stroke="#87275c" stroke-width="1.51"></path>
    <path d="M825,70L775,102L830,153Z" fill="#9c2a51" stroke="#9c2a51" stroke-width="1.51"></path>
    <path d="M813,24L825,70L855,28Z" fill="#a7365a" stroke="#a7365a" stroke-width="1.51"></path>
    <path d="M805,325L776,405L842,354Z" fill="#7e356c" stroke="#7e356c" stroke-width="1.51"></path>
    <path d="M775,102L812,177L830,153Z" fill="#962752" stroke="#962752" stroke-width="1.51"></path>
    <path d="M775,102L750,165L812,177Z" fill="#962752" stroke="#962752" stroke-width="1.51"></path>
    <path d="M816,-47L782,-7L820,-11Z" fill="#b24860" stroke="#b24860" stroke-width="1.51"></path>
    <path d="M782,-7L813,24L820,-11Z" fill="#af3f5e" stroke="#af3f5e" stroke-width="1.51"></path>
    <path d="M813,24L764,53L825,70Z" fill="#a73558" stroke="#a73558" stroke-width="1.51"></path>
    <path d="M764,53L775,102L825,70Z" fill="#a33054" stroke="#a33054" stroke-width="1.51"></path>
    <path d="M740,343L776,405L805,325Z" fill="#81356b" stroke="#81356b" stroke-width="1.51"></path>
    <path d="M801,275L767,283L805,325Z" fill="#833266" stroke="#833266" stroke-width="1.51"></path>
    <path d="M787,-91L782,-7L816,-47Z" fill="#b75262" stroke="#b75262" stroke-width="1.51"></path>
    <path d="M761,212L767,283L801,275Z" fill="#852b60" stroke="#852b60" stroke-width="1.51"></path>
    <path d="M782,-7L764,53L813,24Z" fill="#ac395b" stroke="#ac395b" stroke-width="1.51"></path>
    <path d="M750,165L761,212L812,177Z" fill="#8f2757" stroke="#8f2757" stroke-width="1.51"></path>
    <path d="M629,422L551,431L705,445Z" fill="#812d6e" stroke="#812d6e" stroke-width="1.51"></path>
    <path d="M747,317L740,343L805,325Z" fill="#83376a" stroke="#83376a" stroke-width="1.51"></path>
    <path d="M767,283L747,317L805,325Z" fill="#833467" stroke="#833467" stroke-width="1.51"></path>
    <path d="M692,-60L718,-2L782,-7Z" fill="#b64a5f" stroke="#b64a5f" stroke-width="1.51"></path>
    <path d="M692,-60L782,-7L787,-91Z" fill="#b95460" stroke="#b95460" stroke-width="1.51"></path>
    <path d="M761,212L736,214L767,283Z" fill="#87285d" stroke="#87285d" stroke-width="1.51"></path>
    <path d="M718,-2L764,53L782,-7Z" fill="#af3a5b" stroke="#af3a5b" stroke-width="1.51"></path>
    <path d="M612,-78L632,-67L692,-60Z" fill="#c05e65" stroke="#c05e65" stroke-width="1.51"></path>
    <path d="M718,-2L712,34L764,53Z" fill="#ae395a" stroke="#ae395a" stroke-width="1.51"></path>
    <path d="M715,151L750,165L775,102Z" fill="#9a2850" stroke="#9a2850" stroke-width="1.51"></path>
    <path d="M60,-94L244,-82L315,-93Z" fill="#d67e75" stroke="#d67e75" stroke-width="1.51"></path>
    <path d="M736,214L724,291L767,283Z" fill="#872d61" stroke="#872d61" stroke-width="1.51"></path>
    <path d="M764,53L716,66L775,102Z" fill="#a53153" stroke="#a53153" stroke-width="1.51"></path>
    <path d="M740,343L705,445L776,405Z" fill="#7f2f6a" stroke="#7f2f6a" stroke-width="1.51"></path>
    <path d="M716,66L715,151L775,102Z" fill="#a02c4f" stroke="#a02c4f" stroke-width="1.51"></path>
    <path d="M673,427L705,445L740,343Z" fill="#802f6b" stroke="#802f6b" stroke-width="1.51"></path>
    <path d="M750,165L736,214L761,212Z" fill="#8e2757" stroke="#8e2757" stroke-width="1.51"></path>
    <path d="M724,291L747,317L767,283Z" fill="#853265" stroke="#853265" stroke-width="1.51"></path>
    <path d="M686,340L673,427L740,343Z" fill="#83356c" stroke="#83356c" stroke-width="1.51"></path>
    <path d="M712,34L716,66L764,53Z" fill="#aa3557" stroke="#aa3557" stroke-width="1.51"></path>
    <path d="M679,79L715,151L716,66Z" fill="#a22f51" stroke="#a22f51" stroke-width="1.51"></path>
    <path d="M696,284L724,291L736,214Z" fill="#882e61" stroke="#882e61" stroke-width="1.51"></path>
    <path d="M715,151L736,214L750,165Z" fill="#932855" stroke="#932855" stroke-width="1.51"></path>
    <path d="M724,291L686,340L740,343Z" fill="#85376a" stroke="#85376a" stroke-width="1.51"></path>
    <path d="M724,291L740,343L747,317Z" fill="#853568" stroke="#853568" stroke-width="1.51"></path>
    <path d="M673,427L629,422L705,445Z" fill="#802c6c" stroke="#802c6c" stroke-width="1.51"></path>
    <path d="M692,-60L678,-32L718,-2Z" fill="#b94e61" stroke="#b94e61" stroke-width="1.51"></path>
    <path d="M715,151L657,177L736,214Z" fill="#932a57" stroke="#932a57" stroke-width="1.51"></path>
    <path d="M647,262L696,284L736,214Z" fill="#892d61" stroke="#892d61" stroke-width="1.51"></path>
    <path d="M657,177L647,262L736,214Z" fill="#8d2a5d" stroke="#8d2a5d" stroke-width="1.51"></path>
    <path d="M679,79L651,140L715,151Z" fill="#9f2c50" stroke="#9f2c50" stroke-width="1.51"></path>
    <path d="M696,284L686,340L724,291Z" fill="#873567" stroke="#873567" stroke-width="1.51"></path>
    <path d="M636,365L673,427L686,340Z" fill="#84356d" stroke="#84356d" stroke-width="1.51"></path>
    <path d="M712,34L679,79L716,66Z" fill="#a93556" stroke="#a93556" stroke-width="1.51"></path>
    <path d="M678,-32L712,34L718,-2Z" fill="#b4425e" stroke="#b4425e" stroke-width="1.51"></path>
    <path d="M656,52L679,79L712,34Z" fill="#ab3758" stroke="#ab3758" stroke-width="1.51"></path>
    <path d="M678,-32L656,52L712,34Z" fill="#b23d5d" stroke="#b23d5d" stroke-width="1.51"></path>
    <path d="M651,140L657,177L715,151Z" fill="#9a2b55" stroke="#9a2b55" stroke-width="1.51"></path>
    <path d="M640,315L686,340L696,284Z" fill="#873769" stroke="#873769" stroke-width="1.51"></path>
    <path d="M647,262L640,315L696,284Z" fill="#893567" stroke="#893567" stroke-width="1.51"></path>
    <path d="M596,-5L656,52L678,-32Z" fill="#b64260" stroke="#b64260" stroke-width="1.51"></path>
    <path d="M632,-67L678,-32L692,-60Z" fill="#bd5763" stroke="#bd5763" stroke-width="1.51"></path>
    <path d="M636,365L629,422L673,427Z" fill="#83316d" stroke="#83316d" stroke-width="1.51"></path>
    <path d="M625,71L651,140L679,79Z" fill="#a53153" stroke="#a53153" stroke-width="1.51"></path>
    <path d="M640,315L636,365L686,340Z" fill="#873c6e" stroke="#873c6e" stroke-width="1.51"></path>
    <path d="M656,52L625,71L679,79Z" fill="#ab3657" stroke="#ab3657" stroke-width="1.51"></path>
    <path d="M632,-67L596,-5L678,-32Z" fill="#bc5263" stroke="#bc5263" stroke-width="1.51"></path>
    <path d="M591,251L647,262L657,177Z" fill="#8d2c60" stroke="#8d2c60" stroke-width="1.51"></path>
    <path d="M575,215L591,251L657,177Z" fill="#912e5f" stroke="#912e5f" stroke-width="1.51"></path>
    <path d="M603,295L640,315L647,262Z" fill="#8a3669" stroke="#8a3669" stroke-width="1.51"></path>
    <path d="M625,71L626,155L651,140Z" fill="#a22e51" stroke="#a22e51" stroke-width="1.51"></path>
    <path d="M584,43L625,71L656,52Z" fill="#ae3a5a" stroke="#ae3a5a" stroke-width="1.51"></path>
    <path d="M596,-5L584,43L656,52Z" fill="#b33e5e" stroke="#b33e5e" stroke-width="1.51"></path>
    <path d="M626,155L574,202L657,177Z" fill="#982e59" stroke="#982e59" stroke-width="1.51"></path>
    <path d="M574,202L575,215L657,177Z" fill="#952e5d" stroke="#952e5d" stroke-width="1.51"></path>
    <path d="M651,140L626,155L657,177Z" fill="#9b2c56" stroke="#9b2c56" stroke-width="1.51"></path>
    <path d="M625,71L549,136L626,155Z" fill="#a42f52" stroke="#a42f52" stroke-width="1.51"></path>
    <path d="M572,335L636,365L640,315Z" fill="#893e6f" stroke="#893e6f" stroke-width="1.51"></path>
    <path d="M591,251L603,295L647,262Z" fill="#8c3466" stroke="#8c3466" stroke-width="1.51"></path>
    <path d="M612,-78L596,-5L632,-67Z" fill="#bf5865" stroke="#bf5865" stroke-width="1.51"></path>
    <path d="M572,335L580,371L636,365Z" fill="#883c70" stroke="#883c70" stroke-width="1.51"></path>
    <path d="M580,371L629,422L636,365Z" fill="#86366f" stroke="#86366f" stroke-width="1.51"></path>
    <path d="M603,295L572,335L640,315Z" fill="#8b3b6d" stroke="#8b3b6d" stroke-width="1.51"></path>
    <path d="M584,43L549,136L625,71Z" fill="#ab3758" stroke="#ab3758" stroke-width="1.51"></path>
    <path d="M580,371L551,431L629,422Z" fill="#853370" stroke="#853370" stroke-width="1.51"></path>
    <path d="M491,-97L534,-55L612,-78Z" fill="#c6656a" stroke="#c6656a" stroke-width="1.51"></path>
    <path d="M549,136L574,202L626,155Z" fill="#9c2f59" stroke="#9c2f59" stroke-width="1.51"></path>
    <path d="M529,115L549,136L584,43Z" fill="#aa3557" stroke="#aa3557" stroke-width="1.51"></path>
    <path d="M534,-55L568,-1L596,-5Z" fill="#bd5065" stroke="#bd5065" stroke-width="1.51"></path>
    <path d="M534,-55L596,-5L612,-78Z" fill="#c05966" stroke="#c05966" stroke-width="1.51"></path>
    <path d="M568,-1L584,43L596,-5Z" fill="#b84361" stroke="#b84361" stroke-width="1.51"></path>
    <path d="M591,251L524,250L603,295Z" fill="#8e3567" stroke="#8e3567" stroke-width="1.51"></path>
    <path d="M524,250L572,335L603,295Z" fill="#8d396b" stroke="#8d396b" stroke-width="1.51"></path>
    <path d="M499,77L529,115L584,43Z" fill="#ae3a5a" stroke="#ae3a5a" stroke-width="1.51"></path>
    <path d="M575,215L524,250L591,251Z" fill="#8f3163" stroke="#8f3163" stroke-width="1.51"></path>
    <path d="M524,250L491,326L572,335Z" fill="#8f3c6e" stroke="#8f3c6e" stroke-width="1.51"></path>
    <path d="M572,335L551,353L580,371Z" fill="#8a3d71" stroke="#8a3d71" stroke-width="1.51"></path>
    <path d="M551,353L551,431L580,371Z" fill="#883971" stroke="#883971" stroke-width="1.51"></path>
    <path d="M527,21L499,77L584,43Z" fill="#b43f5e" stroke="#b43f5e" stroke-width="1.51"></path>
    <path d="M568,-1L527,21L584,43Z" fill="#b74261" stroke="#b74261" stroke-width="1.51"></path>
    <path d="M514,366L551,431L551,353Z" fill="#893972" stroke="#893972" stroke-width="1.51"></path>
    <path d="M549,136L506,201L574,202Z" fill="#9b315d" stroke="#9b315d" stroke-width="1.51"></path>
    <path d="M491,326L551,353L572,335Z" fill="#8c4172" stroke="#8c4172" stroke-width="1.51"></path>
    <path d="M574,202L506,201L575,215Z" fill="#953060" stroke="#953060" stroke-width="1.51"></path>
    <path d="M506,201L524,250L575,215Z" fill="#933062" stroke="#933062" stroke-width="1.51"></path>
    <path d="M514,366L512,432L551,431Z" fill="#883672" stroke="#883672" stroke-width="1.51"></path>
    <path d="M534,-55L527,21L568,-1Z" fill="#bd4d65" stroke="#bd4d65" stroke-width="1.51"></path>
    <path d="M473,125L506,201L529,115Z" fill="#a3335a" stroke="#a3335a" stroke-width="1.51"></path>
    <path d="M488,-16L527,21L534,-55Z" fill="#bf5066" stroke="#bf5066" stroke-width="1.51"></path>
    <path d="M529,115L506,201L549,136Z" fill="#a13259" stroke="#a13259" stroke-width="1.51"></path>
    <path d="M491,326L514,366L551,353Z" fill="#8d4173" stroke="#8d4173" stroke-width="1.51"></path>
    <path d="M495,242L460,286L524,250Z" fill="#923769" stroke="#923769" stroke-width="1.51"></path>
    <path d="M460,286L491,326L524,250Z" fill="#913b6d" stroke="#913b6d" stroke-width="1.51"></path>
    <path d="M506,201L495,242L524,250Z" fill="#923264" stroke="#923264" stroke-width="1.51"></path>
    <path d="M478,21L499,77L527,21Z" fill="#b64261" stroke="#b64261" stroke-width="1.51"></path>
    <path d="M491,-97L488,-16L534,-55Z" fill="#c56069" stroke="#c56069" stroke-width="1.51"></path>
    <path d="M488,-16L478,21L527,21Z" fill="#bc4765" stroke="#bc4765" stroke-width="1.51"></path>
    <path d="M499,77L473,125L529,115Z" fill="#ab3658" stroke="#ab3658" stroke-width="1.51"></path>
    <path d="M454,-29L488,-16L491,-97Z" fill="#c55d6a" stroke="#c55d6a" stroke-width="1.51"></path>
    <path d="M473,125L462,200L506,201Z" fill="#9e345e" stroke="#9e345e" stroke-width="1.51"></path>
    <path d="M429,374L512,432L514,366Z" fill="#8b3b74" stroke="#8b3b74" stroke-width="1.51"></path>
    <path d="M147,412L105,419L325,443Z" fill="#94487c" stroke="#94487c" stroke-width="1.51"></path>
    <path d="M438,168L462,200L473,125Z" fill="#a2355e" stroke="#a2355e" stroke-width="1.51"></path>
    <path d="M491,326L429,374L514,366Z" fill="#8e4174" stroke="#8e4174" stroke-width="1.51"></path>
    <path d="M478,21L455,39L499,77Z" fill="#b64260" stroke="#b64260" stroke-width="1.51"></path>
    <path d="M429,374L407,403L512,432Z" fill="#8c3a74" stroke="#8c3a74" stroke-width="1.51"></path>
    <path d="M407,403L412,449L512,432Z" fill="#8a3675" stroke="#8a3675" stroke-width="1.51"></path>
    <path d="M462,200L495,242L506,201Z" fill="#963363" stroke="#963363" stroke-width="1.51"></path>
    <path d="M234,414L147,412L325,443Z" fill="#92457b" stroke="#92457b" stroke-width="1.51"></path>
    <path d="M440,-95L454,-29L491,-97Z" fill="#c9676d" stroke="#c9676d" stroke-width="1.51"></path>
    <path d="M435,76L473,125L499,77Z" fill="#af3a5a" stroke="#af3a5a" stroke-width="1.51"></path>
    <path d="M455,39L435,76L499,77Z" fill="#b4405e" stroke="#b4405e" stroke-width="1.51"></path>
    <path d="M462,200L436,257L495,242Z" fill="#943466" stroke="#943466" stroke-width="1.51"></path>
    <path d="M436,257L460,286L495,242Z" fill="#93396a" stroke="#93396a" stroke-width="1.51"></path>
    <path d="M454,-29L478,21L488,-16Z" fill="#c04f67" stroke="#c04f67" stroke-width="1.51"></path>
    <path d="M460,286L429,374L491,326Z" fill="#904374" stroke="#904374" stroke-width="1.51"></path>
    <path d="M454,-29L455,39L478,21Z" fill="#be4966" stroke="#be4966" stroke-width="1.51"></path>
    <path d="M378,335L429,374L460,286Z" fill="#924476" stroke="#924476" stroke-width="1.51"></path>
    <path d="M435,76L438,168L473,125Z" fill="#aa3658" stroke="#aa3658" stroke-width="1.51"></path>
    <path d="M435,76L370,122L438,168Z" fill="#ac3859" stroke="#ac3859" stroke-width="1.51"></path>
    <path d="M382,-45L358,23L454,-29Z" fill="#c5556a" stroke="#c5556a" stroke-width="1.51"></path>
    <path d="M440,-95L382,-45L454,-29Z" fill="#c9636d" stroke="#c9636d" stroke-width="1.51"></path>
    <path d="M454,-29L358,23L455,39Z" fill="#c04a67" stroke="#c04a67" stroke-width="1.51"></path>
    <path d="M436,257L378,335L460,286Z" fill="#933f70" stroke="#933f70" stroke-width="1.51"></path>
    <path d="M438,168L388,238L462,200Z" fill="#9c3664" stroke="#9c3664" stroke-width="1.51"></path>
    <path d="M388,238L436,257L462,200Z" fill="#963667" stroke="#963667" stroke-width="1.51"></path>
    <path d="M376,67L435,76L455,39Z" fill="#b74260" stroke="#b74260" stroke-width="1.51"></path>
    <path d="M358,23L376,67L455,39Z" fill="#bb4664" stroke="#bb4664" stroke-width="1.51"></path>
    <path d="M403,390L407,403L429,374Z" fill="#8e3e76" stroke="#8e3e76" stroke-width="1.51"></path>
    <path d="M376,67L370,122L435,76Z" fill="#b33e5e" stroke="#b33e5e" stroke-width="1.51"></path>
    <path d="M388,238L351,298L436,257Z" fill="#963c6e" stroke="#963c6e" stroke-width="1.51"></path>
    <path d="M351,298L378,335L436,257Z" fill="#954172" stroke="#954172" stroke-width="1.51"></path>
    <path d="M357,186L388,238L438,168Z" fill="#9e3764" stroke="#9e3764" stroke-width="1.51"></path>
    <path d="M315,-93L362,-63L440,-95Z" fill="#ce6f71" stroke="#ce6f71" stroke-width="1.51"></path>
    <path d="M362,-63L382,-45L440,-95Z" fill="#cb686e" stroke="#cb686e" stroke-width="1.51"></path>
    <path d="M370,122L357,186L438,168Z" fill="#a6385f" stroke="#a6385f" stroke-width="1.51"></path>
    <path d="M378,335L403,390L429,374Z" fill="#904277" stroke="#904277" stroke-width="1.51"></path>
    <path d="M346,142L357,186L370,122Z" fill="#a93a5f" stroke="#a93a5f" stroke-width="1.51"></path>
    <path d="M378,335L354,351L403,390Z" fill="#924578" stroke="#924578" stroke-width="1.51"></path>
    <path d="M407,403L325,443L412,449Z" fill="#8c3877" stroke="#8c3877" stroke-width="1.51"></path>
    <path d="M403,390L325,443L407,403Z" fill="#8e3b78" stroke="#8e3b78" stroke-width="1.51"></path>
    <path d="M354,351L325,443L403,390Z" fill="#903f79" stroke="#903f79" stroke-width="1.51"></path>
    <path d="M332,105L370,122L376,67Z" fill="#b33e5e" stroke="#b33e5e" stroke-width="1.51"></path>
    <path d="M330,1L358,23L382,-45Z" fill="#c6546b" stroke="#c6546b" stroke-width="1.51"></path>
    <path d="M357,186L320,240L388,238Z" fill="#9b3869" stroke="#9b3869" stroke-width="1.51"></path>
    <path d="M320,240L351,298L388,238Z" fill="#983d6e" stroke="#983d6e" stroke-width="1.51"></path>
    <path d="M362,-63L330,1L382,-45Z" fill="#c95f6e" stroke="#c95f6e" stroke-width="1.51"></path>
    <path d="M351,298L354,351L378,335Z" fill="#954778" stroke="#954778" stroke-width="1.51"></path>
    <path d="M358,23L332,105L376,67Z" fill="#b94462" stroke="#b94462" stroke-width="1.51"></path>
    <path d="M270,405L325,443L354,351Z" fill="#91417a" stroke="#91417a" stroke-width="1.51"></path>
    <path d="M282,51L332,105L358,23Z" fill="#bb4764" stroke="#bb4764" stroke-width="1.51"></path>
    <path d="M303,19L282,51L358,23Z" fill="#c04d68" stroke="#c04d68" stroke-width="1.51"></path>
    <path d="M332,105L346,142L370,122Z" fill="#af3b5c" stroke="#af3b5c" stroke-width="1.51"></path>
    <path d="M302,208L320,240L357,186Z" fill="#9e3a68" stroke="#9e3a68" stroke-width="1.51"></path>
    <path d="M292,-78L330,1L362,-63Z" fill="#cc646f" stroke="#cc646f" stroke-width="1.51"></path>
    <path d="M315,-93L292,-78L362,-63Z" fill="#d06f72" stroke="#d06f72" stroke-width="1.51"></path>
    <path d="M292,-78L271,-40L330,1Z" fill="#cc646f" stroke="#cc646f" stroke-width="1.51"></path>
    <path d="M351,298L269,336L354,351Z" fill="#964979" stroke="#964979" stroke-width="1.51"></path>
    <path d="M346,142L302,208L357,186Z" fill="#a53a64" stroke="#a53a64" stroke-width="1.51"></path>
    <path d="M330,1L303,19L358,23Z" fill="#c34e6a" stroke="#c34e6a" stroke-width="1.51"></path>
    <path d="M269,336L270,405L354,351Z" fill="#95487b" stroke="#95487b" stroke-width="1.51"></path>
    <path d="M320,240L297,242L351,298Z" fill="#993f6f" stroke="#993f6f" stroke-width="1.51"></path>
    <path d="M297,242L269,336L351,298Z" fill="#984574" stroke="#984574" stroke-width="1.51"></path>
    <path d="M332,105L259,158L346,142Z" fill="#ae3d5e" stroke="#ae3d5e" stroke-width="1.51"></path>
    <path d="M259,158L302,208L346,142Z" fill="#a83e63" stroke="#a83e63" stroke-width="1.51"></path>
    <path d="M269,336L252,365L270,405Z" fill="#954b7c" stroke="#954b7c" stroke-width="1.51"></path>
    <path d="M271,-40L303,19L330,1Z" fill="#c8586d" stroke="#c8586d" stroke-width="1.51"></path>
    <path d="M282,51L263,104L332,105Z" fill="#b84561" stroke="#b84561" stroke-width="1.51"></path>
    <path d="M263,104L259,158L332,105Z" fill="#b2415d" stroke="#b2415d" stroke-width="1.51"></path>
    <path d="M244,-82L292,-78L315,-93Z" fill="#d27573" stroke="#d27573" stroke-width="1.51"></path>
    <path d="M270,405L234,414L325,443Z" fill="#91417a" stroke="#91417a" stroke-width="1.51"></path>
    <path d="M302,208L297,242L320,240Z" fill="#9b3c6c" stroke="#9b3c6c" stroke-width="1.51"></path>
    <path d="M220,283L269,336L297,242Z" fill="#9a4975" stroke="#9a4975" stroke-width="1.51"></path>
    <path d="M259,158L255,196L302,208Z" fill="#a54066" stroke="#a54066" stroke-width="1.51"></path>
    <path d="M255,196L297,242L302,208Z" fill="#9f3e6a" stroke="#9f3e6a" stroke-width="1.51"></path>
    <path d="M241,-24L282,51L303,19Z" fill="#c5536c" stroke="#c5536c" stroke-width="1.51"></path>
    <path d="M271,-40L241,-24L303,19Z" fill="#ca5e6e" stroke="#ca5e6e" stroke-width="1.51"></path>
    <path d="M255,196L220,283L297,242Z" fill="#9c426e" stroke="#9c426e" stroke-width="1.51"></path>
    <path d="M241,-24L207,30L282,51Z" fill="#c6566b" stroke="#c6566b" stroke-width="1.51"></path>
    <path d="M244,-82L271,-40L292,-78Z" fill="#d17072" stroke="#d17072" stroke-width="1.51"></path>
    <path d="M40,419L1,429L105,419Z" fill="#99557f" stroke="#99557f" stroke-width="1.51"></path>
    <path d="M60,-94L188,-53L244,-82Z" fill="#d57d75" stroke="#d57d75" stroke-width="1.51"></path>
    <path d="M220,283L215,323L269,336Z" fill="#9a4f79" stroke="#9a4f79" stroke-width="1.51"></path>
    <path d="M229,92L263,104L282,51Z" fill="#b94a62" stroke="#b94a62" stroke-width="1.51"></path>
    <path d="M207,30L229,92L282,51Z" fill="#bf5066" stroke="#bf5066" stroke-width="1.51"></path>
    <path d="M217,190L220,283L255,196Z" fill="#9f436c" stroke="#9f436c" stroke-width="1.51"></path>
    <path d="M216,125L259,158L263,104Z" fill="#b2455e" stroke="#b2455e" stroke-width="1.51"></path>
    <path d="M252,365L234,414L270,405Z" fill="#94487b" stroke="#94487b" stroke-width="1.51"></path>
    <path d="M244,-82L241,-24L271,-40Z" fill="#cf6b71" stroke="#cf6b71" stroke-width="1.51"></path>
    <path d="M215,323L252,365L269,336Z" fill="#98517d" stroke="#98517d" stroke-width="1.51"></path>
    <path d="M212,393L234,414L252,365Z" fill="#954a7c" stroke="#954a7c" stroke-width="1.51"></path>
    <path d="M217,190L255,196L259,158Z" fill="#a74466" stroke="#a74466" stroke-width="1.51"></path>
    <path d="M229,92L216,125L263,104Z" fill="#b6485f" stroke="#b6485f" stroke-width="1.51"></path>
    <path d="M216,125L217,190L259,158Z" fill="#ac4563" stroke="#ac4563" stroke-width="1.51"></path>
    <path d="M188,-53L241,-24L244,-82Z" fill="#d16f72" stroke="#d16f72" stroke-width="1.51"></path>
    <path d="M215,323L212,393L252,365Z" fill="#984f7c" stroke="#984f7c" stroke-width="1.51"></path>
    <path d="M60,-94L114,-50L188,-53Z" fill="#d67e75" stroke="#d67e75" stroke-width="1.51"></path>
    <path d="M217,190L152,263L220,283Z" fill="#9e4970" stroke="#9e4970" stroke-width="1.51"></path>
    <path d="M207,30L184,51L229,92Z" fill="#c05367" stroke="#c05367" stroke-width="1.51"></path>
    <path d="M180,383L212,393L215,323Z" fill="#98517d" stroke="#98517d" stroke-width="1.51"></path>
    <path d="M156,200L152,263L217,190Z" fill="#a2496d" stroke="#a2496d" stroke-width="1.51"></path>
    <path d="M188,-53L207,30L241,-24Z" fill="#cc6470" stroke="#cc6470" stroke-width="1.51"></path>
    <path d="M212,393L147,412L234,414Z" fill="#954b7c" stroke="#954b7c" stroke-width="1.51"></path>
    <path d="M188,-53L144,2L207,30Z" fill="#cc6470" stroke="#cc6470" stroke-width="1.51"></path>
    <path d="M216,125L155,126L217,190Z" fill="#b04962" stroke="#b04962" stroke-width="1.51"></path>
    <path d="M166,79L216,125L229,92Z" fill="#b94c61" stroke="#b94c61" stroke-width="1.51"></path>
    <path d="M184,51L166,79L229,92Z" fill="#be5165" stroke="#be5165" stroke-width="1.51"></path>
    <path d="M180,383L147,412L212,393Z" fill="#974e7d" stroke="#974e7d" stroke-width="1.51"></path>
    <path d="M166,79L155,126L216,125Z" fill="#b84d60" stroke="#b84d60" stroke-width="1.51"></path>
    <path d="M155,126L156,200L217,190Z" fill="#ac4a66" stroke="#ac4a66" stroke-width="1.51"></path>
    <path d="M149,307L215,323L220,283Z" fill="#9c5178" stroke="#9c5178" stroke-width="1.51"></path>
    <path d="M152,263L149,307L220,283Z" fill="#9d5076" stroke="#9d5076" stroke-width="1.51"></path>
    <path d="M149,307L180,383L215,323Z" fill="#9b567d" stroke="#9b567d" stroke-width="1.51"></path>
    <path d="M144,2L184,51L207,30Z" fill="#c75b6c" stroke="#c75b6c" stroke-width="1.51"></path>
    <path d="M149,307L129,385L180,383Z" fill="#9a577e" stroke="#9a577e" stroke-width="1.51"></path>
    <path d="M144,2L128,49L184,51Z" fill="#c65c6b" stroke="#c65c6b" stroke-width="1.51"></path>
    <path d="M114,-50L144,2L188,-53Z" fill="#d17072" stroke="#d17072" stroke-width="1.51"></path>
    <path d="M128,49L166,79L184,51Z" fill="#c15767" stroke="#c15767" stroke-width="1.51"></path>
    <path d="M129,385L147,412L180,383Z" fill="#97517e" stroke="#97517e" stroke-width="1.51"></path>
    <path d="M83,324L129,385L149,307Z" fill="#9c5c7f" stroke="#9c5c7f" stroke-width="1.51"></path>
    <path d="M119,121L96,176L155,126Z" fill="#b45063" stroke="#b45063" stroke-width="1.51"></path>
    <path d="M122,272L152,263L156,200Z" fill="#a04e71" stroke="#a04e71" stroke-width="1.51"></path>
    <path d="M155,126L96,176L156,200Z" fill="#ae4e67" stroke="#ae4e67" stroke-width="1.51"></path>
    <path d="M128,49L104,110L166,79Z" fill="#bf5765" stroke="#bf5765" stroke-width="1.51"></path>
    <path d="M104,110L119,121L166,79Z" fill="#bb5362" stroke="#bb5362" stroke-width="1.51"></path>
    <path d="M119,121L155,126L166,79Z" fill="#b95161" stroke="#b95161" stroke-width="1.51"></path>
    <path d="M122,272L149,307L152,263Z" fill="#9f5376" stroke="#9f5376" stroke-width="1.51"></path>
    <path d="M96,176L122,272L156,200Z" fill="#a54e6d" stroke="#a54e6d" stroke-width="1.51"></path>
    <path d="M122,272L83,324L149,307Z" fill="#9e577a" stroke="#9e577a" stroke-width="1.51"></path>
    <path d="M84,5L128,49L144,2Z" fill="#ca626e" stroke="#ca626e" stroke-width="1.51"></path>
    <path d="M114,-50L84,5L144,2Z" fill="#cf6c72" stroke="#cf6c72" stroke-width="1.51"></path>
    <path d="M129,385L105,419L147,412Z" fill="#97517e" stroke="#97517e" stroke-width="1.51"></path>
    <path d="M96,176L69,276L122,272Z" fill="#a25272" stroke="#a25272" stroke-width="1.51"></path>
    <path d="M83,324L69,357L129,385Z" fill="#9c5c7f" stroke="#9c5c7f" stroke-width="1.51"></path>
    <path d="M51,182L69,276L96,176Z" fill="#a7536e" stroke="#a7536e" stroke-width="1.51"></path>
    <path d="M69,276L83,324L122,272Z" fill="#a05979" stroke="#a05979" stroke-width="1.51"></path>
    <path d="M72,39L104,110L128,49Z" fill="#c25c68" stroke="#c25c68" stroke-width="1.51"></path>
    <path d="M84,5L72,39L128,49Z" fill="#c9626d" stroke="#c9626d" stroke-width="1.51"></path>
    <path d="M69,357L105,419L129,385Z" fill="#99567f" stroke="#99567f" stroke-width="1.51"></path>
    <path d="M72,39L50,84L104,110Z" fill="#c15c66" stroke="#c15c66" stroke-width="1.51"></path>
    <path d="M104,110L96,176L119,121Z" fill="#b55262" stroke="#b55262" stroke-width="1.51"></path>
    <path d="M47,-38L84,5L114,-50Z" fill="#d27473" stroke="#d27473" stroke-width="1.51"></path>
    <path d="M42,173L96,176L104,110Z" fill="#b35466" stroke="#b35466" stroke-width="1.51"></path>
    <path d="M60,-94L47,-38L114,-50Z" fill="#d78075" stroke="#d78075" stroke-width="1.51"></path>
    <path d="M50,84L18,148L104,110Z" fill="#bb5862" stroke="#bb5862" stroke-width="1.51"></path>
    <path d="M18,148L42,173L104,110Z" fill="#b65665" stroke="#b65665" stroke-width="1.51"></path>
    <path d="M69,357L40,419L105,419Z" fill="#99577f" stroke="#99577f" stroke-width="1.51"></path>
    <path d="M42,173L51,182L96,176Z" fill="#ae5569" stroke="#ae5569" stroke-width="1.51"></path>
    <path d="M-79,-95L-23,-71L60,-94Z" fill="#dd9178" stroke="#dd9178" stroke-width="1.51"></path>
    <path d="M51,182L-17,209L69,276Z" fill="#a65671" stroke="#a65671" stroke-width="1.51"></path>
    <path d="M69,276L39,313L83,324Z" fill="#a05c7c" stroke="#a05c7c" stroke-width="1.51"></path>
    <path d="M39,313L69,357L83,324Z" fill="#9f6080" stroke="#9f6080" stroke-width="1.51"></path>
    <path d="M16,18L72,39L84,5Z" fill="#cc676f" stroke="#cc676f" stroke-width="1.51"></path>
    <path d="M47,-38L16,18L84,5Z" fill="#d06e72" stroke="#d06e72" stroke-width="1.51"></path>
    <path d="M-17,209L-20,267L69,276Z" fill="#a45a75" stroke="#a45a75" stroke-width="1.51"></path>
    <path d="M16,18L50,84L72,39Z" fill="#c8646c" stroke="#c8646c" stroke-width="1.51"></path>
    <path d="M16,18L7,77L50,84Z" fill="#c6646a" stroke="#c6646a" stroke-width="1.51"></path>
    <path d="M-22,345L40,419L69,357Z" fill="#9d5e81" stroke="#9d5e81" stroke-width="1.51"></path>
    <path d="M39,313L-22,345L69,357Z" fill="#9f6481" stroke="#9f6481" stroke-width="1.51"></path>
    <path d="M-20,267L39,313L69,276Z" fill="#a25d79" stroke="#a25d79" stroke-width="1.51"></path>
    <path d="M-22,345L-31,401L40,419Z" fill="#9d5f81" stroke="#9d5f81" stroke-width="1.51"></path>
    <path d="M7,77L18,148L50,84Z" fill="#be5d64" stroke="#be5d64" stroke-width="1.51"></path>
    <path d="M-23,-71L47,-38L60,-94Z" fill="#d98676" stroke="#d98676" stroke-width="1.51"></path>
    <path d="M-31,401L1,429L40,419Z" fill="#9b5b81" stroke="#9b5b81" stroke-width="1.51"></path>
    <path d="M-20,-42L16,18L47,-38Z" fill="#d37874" stroke="#d37874" stroke-width="1.51"></path>
    <path d="M-23,-71L-20,-42L47,-38Z" fill="#d88376" stroke="#d88376" stroke-width="1.51"></path>
    <path d="M42,173L-17,209L51,182Z" fill="#ad586c" stroke="#ad586c" stroke-width="1.51"></path>
    <path d="M-20,267L-30,295L39,313Z" fill="#a3617b" stroke="#a3617b" stroke-width="1.51"></path>
    <path d="M18,148L-17,209L42,173Z" fill="#b05a6a" stroke="#b05a6a" stroke-width="1.51"></path>
    <path d="M-30,295L-22,345L39,313Z" fill="#a1647f" stroke="#a1647f" stroke-width="1.51"></path>
    <path d="M-50,33L7,77L16,18Z" fill="#ca6a6d" stroke="#ca6a6d" stroke-width="1.51"></path>
    <path d="M-20,-42L-50,33L16,18Z" fill="#d17273" stroke="#d17273" stroke-width="1.51"></path>
    <path d="M-82,155L-17,209L18,148Z" fill="#b35d6a" stroke="#b35d6a" stroke-width="1.51"></path>
    <path d="M-56,115L-82,155L18,148Z" fill="#ba6066" stroke="#ba6066" stroke-width="1.51"></path>
    <path d="M7,77L-56,115L18,148Z" fill="#bd5f63" stroke="#bd5f63" stroke-width="1.51"></path>
    <path d="M-73,-3L-50,33L-20,-42Z" fill="#d37774" stroke="#d37774" stroke-width="1.51"></path>
    <path d="M-50,33L-56,115L7,77Z" fill="#c66769" stroke="#c66769" stroke-width="1.51"></path>
    <path d="M-64,341L-31,401L-22,345Z" fill="#9f6682" stroke="#9f6682" stroke-width="1.51"></path>
    <path d="M-30,295L-68,317L-22,345Z" fill="#a26780" stroke="#a26780" stroke-width="1.51"></path>
    <path d="M-68,317L-64,341L-22,345Z" fill="#a26a82" stroke="#a26a82" stroke-width="1.51"></path>
    <path d="M-82,155L-61,223L-17,209Z" fill="#af5e6e" stroke="#af5e6e" stroke-width="1.51"></path>
    <path d="M-61,223L-20,267L-17,209Z" fill="#a65c73" stroke="#a65c73" stroke-width="1.51"></path>
    <path d="M-83,267L-30,295L-20,267Z" fill="#a5627a" stroke="#a5627a" stroke-width="1.51"></path>
    <path d="M-61,223L-83,267L-20,267Z" fill="#a66077" stroke="#a66077" stroke-width="1.51"></path>
    <path d="M-23,-71L-79,-95L-20,-42Z" fill="#db8d78" stroke="#db8d78" stroke-width="1.51"></path>
    <path d="M-79,-95L-73,-3L-20,-42Z" fill="#d98777" stroke="#d98777" stroke-width="1.51"></path>
    <path d="M-83,267L-68,317L-30,295Z" fill="#a5667d" stroke="#a5667d" stroke-width="1.51"></path>
    <path d="M-73,-3L-82,155L-56,115Z" fill="#c46867" stroke="#c46867" stroke-width="1.51"></path>
    <path d="M-73,-3L-56,115L-50,33Z" fill="#cb6e6d" stroke="#cb6e6d" stroke-width="1.51"></path>
    <path d="M-82,155L-83,267L-61,223Z" fill="#ab6072" stroke="#ab6072" stroke-width="1.51"></path>
    <path d="M-68,317L-83,267L-64,341Z" fill="#a4697f" stroke="#a4697f" stroke-width="1.51"></path>
    <path d="M-79,-95L-82,155L-73,-3Z" fill="#d17472" stroke="#d17472" stroke-width="1.51"></path>
  </svg>
</div>
