.about-me,
.education,
.employment,
.experience,
.interests {
  margin: 16px auto;
  width: 95%;
}

.entry {
  margin: 14px auto;

  h3,
  h4 { display: inline-block; }

  h4 { float: right;}

  img {
    vertical-align: top;
    width: 30%;
  }

  div {
    display: inline-block;
    margin-left: 48px;
    width: 62%;
  }

  p {
    margin: 8px auto;
    text-align: justify;
  }

  ul {
    font-size: 14px;
    padding-left: 32px;
  }

  @media screen and (max-width: 750px) {

    h3,
    h4 { display: block; }

    h4 { float: none;}

    img {
      display: block;
      margin: 12px auto;
      width: 75%;
    }

    div {
      display: block;
      margin: 12px auto;
      width: 97%;
    }
  }

  @media screen and (min-width: 1750px) {
    img { width: 25%; }
    div { margin-left: 128px; }
  }
}

.entry:nth-child(even) {
  img { float: right; }

  div {
    margin-left: 0;
    margin-right: 16px;
  }

  @media screen and (max-width: 750px) {
    img { float: none; }
  }
}

.interest,
.skill {
  display: inline-block;
  text-align: center;
  text-shadow: 0 5px 10px rgba(0, 0, 0, .15);
  vertical-align: top;

  a { margin: auto; }

  img { width: 100%; }

  p {
    margin: 8px auto;
    text-align: justify;
  }

  .icon-badge {
    margin: 0;
    width: 90%;
  }

  @media screen and (max-width: 449px) { display: block; }

  @media screen and (min-width: 450px) and (max-width: 799px) {
    margin-left: 16px;
    width: 45%;
  }

  @media screen and (min-width: 800px) and (max-width: 1279px) {
    margin-left: 16px;
    width: 30%;
  }

  @media screen and (min-width: 1280px) and (max-width: 1439px) {
    margin-left: 48px;
    width: 20%;
  }

  @media screen and (min-width: 1440px) and (max-width: 1539px) {
    margin-left: 56px;
    width: 15%;
  }

  @media screen and (min-width: 1540px) {
    margin-left: 64px;
    width: 15%;
  }
}

.interest {
  span { text-shadow: none; }
  p { text-shadow: none; }
}

.odp {
  height: 106px;
  width: 125px;
}
