.header {
  background-color: $cabaret;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  background-color: $gigas;
  font-size: 1.25em;
  height: 50px;
  line-height: 50px;
  margin: auto;
  text-align: center;
  width: 100%;
  z-index: 2;

  a {
    color: $white;
    display: inline-block;
    margin: 0 auto;
    padding: 0 40px;
    text-decoration: none;

    &:hover {
      background-color: $windsor;
    }
  }
}

.triangilify {
  background-image: url('images/trianglify.svg');
  height: 375px;
  width: 100%;
  z-index: 0;
}

.oscar {
  height: 100%;
  width: 100%;

  * {
    display: inline-block;
  }
}
