.icon-badge {
  @extend .black-text;

  display: inline-block;
  padding: 0;
  width: auto;

  a {
    display: block;
    font-size: 5em;
    height: 128px;
    line-height: 128px;
    margin: 5px 0;
    text-align: center;
    width: 128px;
  }

  .hover {
    &:hover {
      @include border-radius(50%);

      background-color: rgba(232, 232, 232, 1);
    }
  }

  @media screen and (max-width: 707px) { margin: 0 16px; }
}
