// fonts
@font-face {
  font-family: Roboto;
  src: url('/assets/fonts/roboto/Roboto-Light.woff');
}
$font-stack: Roboto, Arial, sans-serif;

// colors
$black: #000;
$white: #fff;
$copper: #df9b78;
$cabaret: #c2506a;
$lipstick: #9b2b4d;
$byzantium: #6e296b;
$gigas: #5e4489;
$windsor: #4a2786;

// mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
