{{#paper-card title='Home' class='home'}}
<p>Welcome to my personal website and development playground! I built this website so I could have a place to share information about myself and anything I've worked on. I plan to link or host any future projects here, so check in whenever you'd like.</p>

<p>I had a lot of fun building this website and learned a lot in the process, so the first thing I'll be sharing here is my website's source code! If you're interested, there's a link at the bottom of this page that'll take you to my GitHub page.</p>
{{/paper-card}}

{{#paper-card title='Follow Me' class='follow'}}
{{/paper-card}}
