{{#paper-card title='Home' class='home'}}
<p>Welcome to my personal website and development playground! I built this website so I could have a place to share information about myself and anything I've worked on. I plan to link or host any future projects here, so check in whenever you'd like.</p>

<p>I had a lot of fun building this website and learned a lot in the process, so the first thing I'll be sharing here is my website's source code! If you're interested, there's a link at the bottom of this page that'll take you to my GitHub page.</p>
{{/paper-card}}

{{#paper-card title='Follow Me' class='follow'}}
<p>Want to keep in touch?</p>
<div class="icon-set">
{{#icon-badge iconSet='op' iconClass='op-envelope-o' url='mailto:oscar.paramo@me.com' class='icon-badge'}}
Email
{{/icon-badge}}
{{#icon-badge iconSet='op' iconClass='op-github' url='https://github.com/ch0sen1' class='icon-badge'}}
GitHub
{{/icon-badge}}
{{#icon-badge iconSet='op' iconClass='op-instagram' url='https://instagram.com/oscaritoman/' class='icon-badge'}}
Instagram
{{/icon-badge}}
{{#icon-badge iconSet='op' iconClass='op-steam' url='http://steamcommunity.com/id/oparamo' class='icon-badge'}}
Steam
{{/icon-badge}}
{{#icon-badge iconSet='op' iconClass='op-tumblr' url='http://oscarito87.tumblr.com/' class='icon-badge'}}
Tumblr
{{/icon-badge}}
{{#icon-badge iconSet='op' iconClass='op-twitter' url='https://twitter.com/OscarParamo1' class='icon-badge'}}
Twitter
{{/icon-badge}}
{{#icon-badge iconSet='op' iconClass='op-linkedin' url='https://www.linkedin.com/in/oparamo' class='icon-badge'}}
LinkedIn
{{/icon-badge}}
</div>
{{/paper-card}}
